<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>doctor_1_turn_around_5_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_87.png</string>
			
				<string>doctor_1_turn_around_5_88.png</string>
			
				<string>doctor_1_turn_around_5_89.png</string>
			
				<string>doctor_1_turn_around_5_78.png</string>
			
				<string>doctor_1_turn_around_5_82.png</string>
			
				<string>doctor_1_turn_around_5_80.png</string>
			
				<string>doctor_1_turn_around_5_86.png</string>
			
				<string>doctor_1_turn_around_5_90.png</string>
			
				<string>doctor_1_turn_around_5_83.png</string>
			
				<string>doctor_1_turn_around_5_2.png</string>
			
				<string>doctor_1_turn_around_5_81.png</string>
			
				<string>doctor_1_turn_around_5_85.png</string>
			
				<string>doctor_1_turn_around_5_79.png</string>
			
				<string>doctor_1_turn_around_5_3.png</string>
			
				<string>doctor_1_turn_around_5_84.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 49}, {202, 466}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{202, 466}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 936}, {202, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_12.png</string>
			
				<string>doctor_1_turn_around_5_13.png</string>
			
				<string>doctor_1_turn_around_5_11.png</string>
			
				<string>doctor_1_turn_around_5_9.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{102, 66}, {212, 448}}</string>
			<key>spriteOffset</key>
			<string>{-12, -18}</string>
			<key>spriteSize</key>
			<string>{212, 448}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1403, 0}, {212, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_15.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{128, 44}, {194, 472}}</string>
			<key>spriteOffset</key>
			<string>{5, -8}</string>
			<key>spriteSize</key>
			<string>{194, 472}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 474}, {194, 472}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_17.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 48}, {200, 466}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{200, 466}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{524, 1402}, {200, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_19.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{120, 46}, {262, 468}}</string>
			<key>spriteOffset</key>
			<string>{31, -8}</string>
			<key>spriteSize</key>
			<string>{262, 468}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 1418}, {262, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_21.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{119, 52}, {254, 460}}</string>
			<key>spriteOffset</key>
			<string>{26, -10}</string>
			<key>spriteSize</key>
			<string>{254, 460}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{715, 0}, {254, 460}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_23.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 57}, {224, 454}}</string>
			<key>spriteOffset</key>
			<string>{21, -12}</string>
			<key>spriteSize</key>
			<string>{224, 454}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 1391}, {224, 454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_25.png</string>
			
				<string>doctor_1_turn_around_5_26.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 58}, {224, 454}}</string>
			<key>spriteOffset</key>
			<string>{23, -13}</string>
			<key>spriteSize</key>
			<string>{224, 454}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1178, 0}, {224, 454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_28.png</string>
			
				<string>doctor_1_turn_around_5_29.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 57}, {224, 454}}</string>
			<key>spriteOffset</key>
			<string>{21, -12}</string>
			<key>spriteSize</key>
			<string>{224, 454}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1105, 918}, {224, 454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_32.png</string>
			
				<string>doctor_1_turn_around_5_31.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 47}, {250, 464}}</string>
			<key>spriteOffset</key>
			<string>{34, -7}</string>
			<key>spriteSize</key>
			<string>{250, 464}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{713, 467}, {250, 464}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_35.png</string>
			
				<string>doctor_1_turn_around_5_34.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 45}, {250, 466}}</string>
			<key>spriteOffset</key>
			<string>{34, -6}</string>
			<key>spriteSize</key>
			<string>{250, 466}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 0}, {250, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_38.png</string>
			
				<string>doctor_1_turn_around_5_37.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 44}, {252, 468}}</string>
			<key>spriteOffset</key>
			<string>{35, -6}</string>
			<key>spriteSize</key>
			<string>{252, 468}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 468}, {252, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_42.png</string>
			
				<string>doctor_1_turn_around_5_44.png</string>
			
				<string>doctor_1_turn_around_5_40.png</string>
			
				<string>doctor_1_turn_around_5_41.png</string>
			
				<string>doctor_1_turn_around_5_43.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 46}, {264, 466}}</string>
			<key>spriteOffset</key>
			<string>{41, -7}</string>
			<key>spriteSize</key>
			<string>{264, 466}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 468}, {264, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_5.png</string>
			
				<string>doctor_1_turn_around_5_6.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 58}, {202, 458}}</string>
			<key>spriteOffset</key>
			<string>{-3, -15}</string>
			<key>spriteSize</key>
			<string>{202, 458}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 460}, {202, 458}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_47.png</string>
			
				<string>doctor_1_turn_around_5_46.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 43}, {262, 468}}</string>
			<key>spriteOffset</key>
			<string>{40, -5}</string>
			<key>spriteSize</key>
			<string>{262, 468}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 948}, {262, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_49.png</string>
			
				<string>doctor_1_turn_around_5_50.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 44}, {268, 468}}</string>
			<key>spriteOffset</key>
			<string>{43, -6}</string>
			<key>spriteSize</key>
			<string>{268, 468}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 0}, {268, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_53.png</string>
			
				<string>doctor_1_turn_around_5_52.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 45}, {232, 466}}</string>
			<key>spriteOffset</key>
			<string>{25, -6}</string>
			<key>spriteSize</key>
			<string>{232, 466}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 935}, {232, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_58.png</string>
			
				<string>doctor_1_turn_around_5_57.png</string>
			
				<string>doctor_1_turn_around_5_56.png</string>
			
				<string>doctor_1_turn_around_5_59.png</string>
			
				<string>doctor_1_turn_around_5_55.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{129, 57}, {224, 454}}</string>
			<key>spriteOffset</key>
			<string>{21, -12}</string>
			<key>spriteSize</key>
			<string>{224, 454}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1167, 457}, {224, 454}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_61.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{119, 52}, {254, 460}}</string>
			<key>spriteOffset</key>
			<string>{26, -10}</string>
			<key>spriteSize</key>
			<string>{254, 460}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{725, 1402}, {254, 460}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_63.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{120, 46}, {262, 468}}</string>
			<key>spriteOffset</key>
			<string>{31, -8}</string>
			<key>spriteSize</key>
			<string>{262, 468}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1418}, {262, 468}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_65.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 48}, {200, 466}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{200, 466}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 935}, {200, 466}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_67.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{128, 44}, {194, 472}}</string>
			<key>spriteOffset</key>
			<string>{5, -8}</string>
			<key>spriteSize</key>
			<string>{194, 472}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {194, 472}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_69.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{117, 59}, {206, 456}}</string>
			<key>spriteOffset</key>
			<string>{0, -15}</string>
			<key>spriteSize</key>
			<string>{206, 456}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 0}, {206, 456}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_8.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 63}, {210, 452}}</string>
			<key>spriteOffset</key>
			<string>{-9, -17}</string>
			<key>spriteSize</key>
			<string>{210, 452}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1206, 1373}, {210, 452}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_71.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 64}, {210, 452}}</string>
			<key>spriteOffset</key>
			<string>{-9, -18}</string>
			<key>spriteSize</key>
			<string>{210, 452}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1330, 912}, {210, 452}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_73.png</string>
			
				<string>doctor_1_turn_around_5_74.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{102, 66}, {212, 448}}</string>
			<key>spriteOffset</key>
			<string>{-12, -18}</string>
			<key>spriteSize</key>
			<string>{212, 448}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1392, 454}, {212, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>doctor_1_turn_around_5_75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>doctor_1_turn_around_5_76.png</string>
			
				<string>doctor_1_turn_around_5_77.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 58}, {202, 458}}</string>
			<key>spriteOffset</key>
			<string>{-3, -15}</string>
			<key>spriteSize</key>
			<string>{202, 458}</string>
			<key>spriteSourceSize</key>
			<string>{440, 544}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 932}, {202, 458}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>doctor_1_turn_around_5.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>doctor_1_turn_around_5.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>doctor_1_turn_around_5</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>