<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1_1</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>71</integer>
			<key>upper</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>81</integer>
			<key>upper</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>91</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>1_2</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>61</integer>
			<key>upper</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>71</integer>
			<key>upper</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>81</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>1_3</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>46</integer>
			<key>upper</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>56</integer>
			<key>upper</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>66</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>2_1</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>66</integer>
			<key>upper</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>76</integer>
			<key>upper</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>86</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>2_2</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>56</integer>
			<key>upper</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>66</integer>
			<key>upper</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>76</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>2_3</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>41</integer>
			<key>upper</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>51</integer>
			<key>upper</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>61</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>3_1</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>61</integer>
			<key>upper</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>71</integer>
			<key>upper</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>81</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>3_2</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>51</integer>
			<key>upper</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>61</integer>
			<key>upper</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>71</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>3_3</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>36</integer>
			<key>upper</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>46</integer>
			<key>upper</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>56</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>4_1</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>56</integer>
			<key>upper</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>66</integer>
			<key>upper</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>76</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>4_2</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>46</integer>
			<key>upper</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>56</integer>
			<key>upper</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>66</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
	<key>4_3</key>
	<array>
		<dict>
			<key>actionId</key>
			<integer>1</integer>
			<key>lower</key>
			<integer>1</integer>
			<key>upper</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>2</integer>
			<key>lower</key>
			<integer>0</integer>
			<key>upper</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>3</integer>
			<key>lower</key>
			<integer>0</integer>
			<key>upper</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>actionId</key>
			<integer>4</integer>
			<key>lower</key>
			<integer>57</integer>
			<key>upper</key>
			<integer>100</integer>
		</dict>
	</array>
</dict>
</plist>
