<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>patient_4_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 21}, {130, 126}}</string>
			<key>spriteOffset</key>
			<string>{5, -9}</string>
			<key>spriteSize</key>
			<string>{130, 126}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 136}, {130, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {120, 128}}</string>
			<key>spriteOffset</key>
			<string>{6, -9}</string>
			<key>spriteSize</key>
			<string>{120, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 264}, {120, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 17}, {126, 130}}</string>
			<key>spriteOffset</key>
			<string>{5, -7}</string>
			<key>spriteSize</key>
			<string>{126, 130}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 274}, {126, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {124, 136}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{124, 136}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {124, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 34}, {120, 114}}</string>
			<key>spriteOffset</key>
			<string>{4, -16}</string>
			<key>spriteSize</key>
			<string>{120, 114}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 122}, {120, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 41}, {122, 106}}</string>
			<key>spriteOffset</key>
			<string>{4, -19}</string>
			<key>spriteSize</key>
			<string>{122, 106}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 212}, {122, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 46}, {120, 102}}</string>
			<key>spriteOffset</key>
			<string>{3, -22}</string>
			<key>spriteSize</key>
			<string>{120, 102}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 0}, {120, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 57}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -27}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 0}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 57}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -27}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 320}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 46}, {130, 102}}</string>
			<key>spriteOffset</key>
			<string>{1, -22}</string>
			<key>spriteSize</key>
			<string>{130, 102}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 406}, {130, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 40}, {132, 108}}</string>
			<key>spriteOffset</key>
			<string>{2, -19}</string>
			<key>spriteSize</key>
			<string>{132, 108}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 264}, {132, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {130, 134}}</string>
			<key>spriteOffset</key>
			<string>{6, -5}</string>
			<key>spriteSize</key>
			<string>{130, 134}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {130, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 27}, {132, 120}}</string>
			<key>spriteOffset</key>
			<string>{4, -12}</string>
			<key>spriteSize</key>
			<string>{132, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 0}, {132, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 34}, {132, 114}}</string>
			<key>spriteOffset</key>
			<string>{3, -16}</string>
			<key>spriteSize</key>
			<string>{132, 114}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 394}, {132, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 40}, {132, 108}}</string>
			<key>spriteOffset</key>
			<string>{2, -19}</string>
			<key>spriteSize</key>
			<string>{132, 108}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 374}, {132, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 46}, {130, 102}}</string>
			<key>spriteOffset</key>
			<string>{1, -22}</string>
			<key>spriteSize</key>
			<string>{130, 102}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 0}, {130, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 57}, {128, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -27}</string>
			<key>spriteSize</key>
			<string>{128, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 206}, {128, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 57}, {122, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -27}</string>
			<key>spriteSize</key>
			<string>{122, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 92}, {122, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 47}, {122, 100}}</string>
			<key>spriteOffset</key>
			<string>{3, -22}</string>
			<key>spriteSize</key>
			<string>{122, 100}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{504, 104}, {122, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_4_run_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 41}, {122, 106}}</string>
			<key>spriteOffset</key>
			<string>{4, -19}</string>
			<key>spriteSize</key>
			<string>{122, 106}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 104}, {122, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>patient_4_run.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>patient_4_run.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>patient_4_run</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>