<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>run</key>
		<dict>
			<key>fileName</key>
			<string>patient_1_run</string>
			<key>frameCount</key>
			<integer>16</integer>
			<key>time</key>
			<real>0.7</real>
		</dict>
		<key>stay</key>
		<string>patient_1_stay.png</string>
		<key>brake</key>
		<dict>
			<key>fileName</key>
			<string>patient_1_brake</string>
			<key>frameCount</key>
			<integer>34</integer>
			<key>time</key>
			<real>1.3</real>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>run</key>
		<dict>
			<key>fileName</key>
			<string>patient_2_run</string>
			<key>frameCount</key>
			<integer>20</integer>
			<key>time</key>
			<real>0.8</real>
		</dict>
		<key>stay</key>
		<string>patient_2_stay.png</string>
		<key>brake</key>
		<dict>
			<key>fileName</key>
			<string>patient_2_brake</string>
			<key>frameCount</key>
			<integer>31</integer>
			<key>time</key>
			<real>1.3</real>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>run</key>
		<dict>
			<key>fileName</key>
			<string>patient_3_run</string>
			<key>frameCount</key>
			<integer>26</integer>
			<key>time</key>
			<real>1</real>
		</dict>
		<key>stay</key>
		<string>patient_3_stay.png</string>
		<key>brake</key>
		<dict>
			<key>fileName</key>
			<string>patient_3_brake</string>
			<key>frameCount</key>
			<integer>24</integer>
			<key>time</key>
			<real>1</real>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>run</key>
		<dict>
			<key>fileName</key>
			<string>patient_4_run</string>
			<key>frameCount</key>
			<integer>20</integer>
			<key>time</key>
			<real>0.8</real>
		</dict>
		<key>stay</key>
		<string>patient_4_stay.png</string>
		<key>brake</key>
		<dict>
			<key>fileName</key>
			<string>patient_4_brake</string>
			<key>frameCount</key>
			<integer>51</integer>
			<key>time</key>
			<real>2</real>
		</dict>
	</dict>
</dict>
</plist>
