<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>patient_2_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 37}, {116, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -16}</string>
			<key>spriteSize</key>
			<string>{116, 108}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 128}, {116, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 56}, {112, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -27}</string>
			<key>spriteSize</key>
			<string>{112, 92}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 412}, {112, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 37}, {120, 108}}</string>
			<key>spriteOffset</key>
			<string>{-3, -16}</string>
			<key>spriteSize</key>
			<string>{120, 108}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 394}, {120, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {122, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{122, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 282}, {122, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {124, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{124, 138}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 142}, {124, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {122, 136}}</string>
			<key>spriteOffset</key>
			<string>{6, 2}</string>
			<key>spriteSize</key>
			<string>{122, 136}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 0}, {122, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 5}, {122, 140}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{122, 140}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 144}, {122, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {122, 142}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{122, 142}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {122, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 21}, {126, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{126, 126}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 0}, {126, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 40}, {112, 106}}</string>
			<key>spriteOffset</key>
			<string>{3, -18}</string>
			<key>spriteSize</key>
			<string>{112, 106}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 238}, {112, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 42}, {112, 104}}</string>
			<key>spriteOffset</key>
			<string>{3, -19}</string>
			<key>spriteSize</key>
			<string>{112, 104}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 0}, {112, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 18}, {112, 128}}</string>
			<key>spriteOffset</key>
			<string>{4, -7}</string>
			<key>spriteSize</key>
			<string>{112, 128}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 138}, {112, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 55}, {110, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, -25}</string>
			<key>spriteSize</key>
			<string>{110, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 412}, {110, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {118, 140}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{118, 140}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 0}, {118, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 5}, {120, 140}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 286}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {120, 140}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{120, 140}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 286}, {120, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 5}, {112, 140}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{112, 140}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 142}, {112, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {116, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{116, 124}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 268}, {116, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 40}, {114, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -18}</string>
			<key>spriteSize</key>
			<string>{114, 106}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 0}, {114, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>patient_2_run_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 42}, {114, 104}}</string>
			<key>spriteOffset</key>
			<string>{-1, -19}</string>
			<key>spriteSize</key>
			<string>{114, 104}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 108}, {114, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.3</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>patient_2_run.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>patient_2_run.pvr</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>patient_2_run</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>