<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>mapImageNormal</key>
		<string>map_image_s3_normal.png</string>
		<key>mapImageLock</key>
		<string>map_image_s3_lock.png</string>
		<key>mapImageX</key>
		<integer>500</integer>
		<key>mapImageY</key>
		<integer>300</integer>
		<key>leftWallImage</key>
		<array>
			<string>wall_left_s3_1.png</string>
			<string>wall_left_s3_2.png</string>
			<string>wall_left_s3_3.png</string>
		</array>
		<key>rightWallImage</key>
		<array>
			<string>wall_right_s3_1.png</string>
			<string>wall_right_s3_2.png</string>
			<string>wall_right_s3_3.png</string>
		</array>
		<key>ceilAndFloorImage</key>
		<string>ceil_and_floor_s3.png</string>
		<key>goalImage</key>
		<string>goal_s3.png</string>
		<key>ceilLeftGoods</key>
		<array>
			<string>ceil_left_goods_s3_1.png</string>
			<string>ceil_left_goods_s3_2.png</string>
		</array>
		<key>ceilMiddleGoods</key>
		<array>
			<string>ceil_middle_goods_s3_1.png</string>
		</array>
		<key>ceilRightGoods</key>
		<array>
			<string>ceil_right_goods_s3_1.png</string>
			<string>ceil_right_goods_s3_2.png</string>
		</array>
		<key>floorLeftGoods</key>
		<array>
			<string>floor_left_goods_s3_1.png</string>
			<string>floor_left_goods_s3_2.png</string>
		</array>
		<key>floorRightGoods</key>
		<array>
			<string>floor_right_goods_s3_1.png</string>
			<string>floor_right_goods_s3_2.png</string>
		</array>
		<key>speedUp</key>
		<integer>0</integer>
		<key>speedDown</key>
		<integer>0</integer>
		<key>warningZone</key>
		<integer>0</integer>
		<key>timeLimit</key>
		<dict>
			<key>1</key>
			<integer>300</integer>
			<key>2</key>
			<integer>200</integer>
			<key>3</key>
			<integer>150</integer>
		</dict>
		<key>coinRewardAmount</key>
		<dict>
			<key>1</key>
			<array>
				<integer>100</integer>
				<integer>50</integer>
				<integer>30</integer>
				<integer>10</integer>
			</array>
			<key>2</key>
			<array>
				<integer>200</integer>
				<integer>100</integer>
				<integer>60</integer>
				<integer>20</integer>
			</array>
			<key>3</key>
			<array>
				<integer>300</integer>
				<integer>150</integer>
				<integer>90</integer>
				<integer>30</integer>
			</array>
		</dict>
		<key>doctorId</key>
		<integer>1</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>mapImageNormal</key>
		<string>map_image_s3_normal.png</string>
		<key>mapImageLock</key>
		<string>map_image_s3_lock.png</string>
		<key>mapImageX</key>
		<integer>300</integer>
		<key>mapImageY</key>
		<integer>100</integer>
		<key>leftWallImage</key>
		<array>
			<string>wall_left_s3_1.png</string>
			<string>wall_left_s3_2.png</string>
			<string>wall_left_s3_3.png</string>
		</array>
		<key>rightWallImage</key>
		<array>
			<string>wall_right_s3_1.png</string>
			<string>wall_right_s3_2.png</string>
			<string>wall_right_s3_3.png</string>
		</array>
		<key>ceilAndFloorImage</key>
		<string>ceil_and_floor_s3.png</string>
		<key>goalImage</key>
		<string>goal_s3.png</string>
		<key>ceilLeftGoods</key>
		<array>
			<string>ceil_left_goods_s3_1.png</string>
			<string>ceil_left_goods_s3_2.png</string>
		</array>
		<key>ceilMiddleGoods</key>
		<array>
			<string>ceil_middle_goods_s3_1.png</string>
		</array>
		<key>ceilRightGoods</key>
		<array>
			<string>ceil_right_goods_s3_1.png</string>
			<string>ceil_right_goods_s3_2.png</string>
		</array>
		<key>floorLeftGoods</key>
		<array>
			<string>floor_left_goods_s3_1.png</string>
			<string>floor_left_goods_s3_2.png</string>
		</array>
		<key>floorRightGoods</key>
		<array>
			<string>floor_right_goods_s3_1.png</string>
			<string>floor_right_goods_s3_2.png</string>
		</array>
		<key>speedUp</key>
		<integer>0</integer>
		<key>speedDown</key>
		<integer>0</integer>
		<key>warningZone</key>
		<integer>0</integer>
		<key>timeLimit</key>
		<dict>
			<key>1</key>
			<integer>300</integer>
			<key>2</key>
			<integer>200</integer>
			<key>3</key>
			<integer>150</integer>
		</dict>
		<key>coinRewardAmount</key>
		<dict>
			<key>1</key>
			<array>
				<integer>100</integer>
				<integer>50</integer>
				<integer>30</integer>
				<integer>10</integer>
			</array>
			<key>2</key>
			<array>
				<integer>200</integer>
				<integer>100</integer>
				<integer>60</integer>
				<integer>20</integer>
			</array>
			<key>3</key>
			<array>
				<integer>300</integer>
				<integer>150</integer>
				<integer>90</integer>
				<integer>30</integer>
			</array>
		</dict>
		<key>doctorId</key>
		<integer>3</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>mapImageNormal</key>
		<string>map_image_s3_normal.png</string>
		<key>mapImageLock</key>
		<string>map_image_s3_lock.png</string>
		<key>mapImageX</key>
		<integer>600</integer>
		<key>mapImageY</key>
		<integer>100</integer>
		<key>leftWallImage</key>
		<array>
			<string>wall_left_s3_1.png</string>
			<string>wall_left_s3_2.png</string>
			<string>wall_left_s3_3.png</string>
		</array>
		<key>rightWallImage</key>
		<array>
			<string>wall_right_s3_1.png</string>
			<string>wall_right_s3_2.png</string>
			<string>wall_right_s3_3.png</string>
		</array>
		<key>ceilAndFloorImage</key>
		<string>ceil_and_floor_s3.png</string>
		<key>goalImage</key>
		<string>goal_s3.png</string>
		<key>ceilLeftGoods</key>
		<array>
			<string>ceil_left_goods_s3_1.png</string>
			<string>ceil_left_goods_s3_2.png</string>
		</array>
		<key>ceilMiddleGoods</key>
		<array>
			<string>ceil_middle_goods_s3_1.png</string>
		</array>
		<key>ceilRightGoods</key>
		<array>
			<string>ceil_right_goods_s3_1.png</string>
			<string>ceil_right_goods_s3_2.png</string>
		</array>
		<key>floorLeftGoods</key>
		<array>
			<string>floor_left_goods_s3_1.png</string>
			<string>floor_left_goods_s3_2.png</string>
		</array>
		<key>floorRightGoods</key>
		<array>
			<string>floor_right_goods_s3_1.png</string>
			<string>floor_right_goods_s3_2.png</string>
		</array>
		<key>speedUp</key>
		<integer>0</integer>
		<key>speedDown</key>
		<integer>0</integer>
		<key>warningZone</key>
		<integer>0</integer>
		<key>timeLimit</key>
		<dict>
			<key>1</key>
			<integer>300</integer>
			<key>2</key>
			<integer>200</integer>
			<key>3</key>
			<integer>150</integer>
		</dict>
		<key>coinRewardAmount</key>
		<dict>
			<key>1</key>
			<array>
				<integer>100</integer>
				<integer>50</integer>
				<integer>30</integer>
				<integer>10</integer>
			</array>
			<key>2</key>
			<array>
				<integer>200</integer>
				<integer>100</integer>
				<integer>60</integer>
				<integer>20</integer>
			</array>
			<key>3</key>
			<array>
				<integer>300</integer>
				<integer>150</integer>
				<integer>90</integer>
				<integer>30</integer>
			</array>
		</dict>
		<key>doctorId</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
