<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{130,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{130,80}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,186},{118,84}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{118,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,96},{108,88}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{108,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{100,98}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{100,98}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,76}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{140,76}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,272},{106,92}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{106,92}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{84,104}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{84,104}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{108,92}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{108,92}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{138,76}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{138,76}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,406},{100,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{100,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{114,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{114,78}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batAttack.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3adbc07e18cb385f9b45ab8d3ef76ab:1/1$</string>
            <key>textureFileName</key>
            <string>batAttack.png</string>
        </dict>
    </dict>
</plist>
