<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{130,80}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,88},{112,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{112,80}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{84,92}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,170},{110,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{110,78}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{124,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{124,76}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{114,84}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{114,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{130,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{130,78}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batFly.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e83e76ec29cae31ed7366e406426274f:1/1$</string>
            <key>textureFileName</key>
            <string>batFly.png</string>
        </dict>
    </dict>
</plist>
