<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,352},{96,102}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{96,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{96,102}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{96,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,170},{102,102}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{102,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{104,80}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{104,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,186},{100,100}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{104,80}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{104,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{100,102}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{104,78}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{104,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,208},{98,92}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{98,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,84},{104,84}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,39},{104,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{100,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{100,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,82}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{106,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,104},{102,102}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{102,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,80}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{106,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,82},{102,102}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{102,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bee_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,80}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{106,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bee.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ff0a56c517466f0d6866a5ea3b61a6:1/1$</string>
            <key>textureFileName</key>
            <string>bee.png</string>
        </dict>
    </dict>
</plist>
