<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,204},{68,80}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,132},{68,80}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,896},{114,126}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,106},{114,126}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{146,162}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{146,162}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{184,200}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{184,200}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{206,226}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,46},{206,226}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{230,268}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,13},{230,268}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,286},{250,244}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,21},{250,244}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{242,266}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{242,266}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,282}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{258,282}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{170,194}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,60},{170,194}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,204},{166,164}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,57},{166,164}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,456},{166,164}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,57},{166,164}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{162,150}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{162,150}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,538},{170,156}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,64},{170,156}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,710},{164,168}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,48},{164,168}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,286},{166,168}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,46},{166,168}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,718},{168,176}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,37},{168,176}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,824},{178,186}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,31},{178,186}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>boom0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,538},{166,178}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{166,178}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28143f93ef7bfe0436df77a94ae71260:1/1$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
