<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,250}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,129},{354,250}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{334,252}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,128},{334,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{308,254}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,127},{308,254}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{268,256}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,124},{268,256}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,522},{230,260}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,119},{230,260}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,766},{212,256}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,123},{212,256}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,522},{194,254}}</string>
                <key>offset</key>
                <string>{17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,125},{194,254}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,518},{192,252}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,128},{192,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,754},{194,254}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,128},{194,254}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{214,256}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,128},{214,256}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,258},{274,258}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,125},{274,258}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,260},{332,260}}</string>
                <key>offset</key>
                <string>{-19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,120},{332,260}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{344,256}}</string>
                <key>offset</key>
                <string>{-22,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,123},{344,256}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c066e0b1bf8f0981fcba4be59471c086:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking3.png</string>
        </dict>
    </dict>
</plist>
