<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,340},{330,276}}</string>
                <key>offset</key>
                <string>{-29,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,126},{330,276}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{336,278}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,124},{336,278}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,358},{344,282}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,120},{344,282}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,704},{318,294}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,108},{318,294}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{292,324}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,78},{292,324}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,354}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,48},{266,354}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{236,350}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,52},{236,350}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,672},{260,318}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,87},{260,318}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{258,302}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,104},{258,302}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e386d3620abb573f77b0c52526d2ae6f:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking2.png</string>
        </dict>
    </dict>
</plist>
