<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,554},{306,336}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,66},{306,336}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,282},{288,374}}</string>
                <key>offset</key>
                <string>{30,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,28},{288,374}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,658},{260,358}}</string>
                <key>offset</key>
                <string>{86,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,44},{260,358}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{322,390}}</string>
                <key>offset</key>
                <string>{29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,12},{322,390}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{364,330}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,72},{364,330}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,264}}</string>
                <key>offset</key>
                <string>{-50,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{450,264}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{406,278}}</string>
                <key>offset</key>
                <string>{-41,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,124},{406,278}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,282},{406,270}}</string>
                <key>offset</key>
                <string>{-40,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,132},{406,270}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10ee5a4c1a715b6baa246b0ba1d82236:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking1.png</string>
        </dict>
    </dict>
</plist>
