<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,252}}</string>
                <key>offset</key>
                <string>{-27,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,129},{346,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{342,252}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,129},{342,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,256},{338,252}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,129},{338,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,254},{320,250}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,131},{320,250}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,744},{298,250}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,131},{298,250}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{326,250}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,131},{326,250}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{338,252}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,129},{338,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,744},{286,252}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,129},{286,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,510},{292,230}}</string>
                <key>offset</key>
                <string>{-45,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,151},{292,230}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,506},{302,236}}</string>
                <key>offset</key>
                <string>{-37,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,145},{302,236}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{314,242}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,139},{314,242}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab019d1017db3ef09e6c183ed0dcb22:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking5.png</string>
        </dict>
    </dict>
</plist>
