<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,484},{66,108}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{66,108}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,124},{88,102}}</string>
                <key>offset</key>
                <string>{17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,9},{88,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,214},{102,86}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,41},{102,86}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,552},{102,84}}</string>
                <key>offset</key>
                <string>{36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,67},{102,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{120,102}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,71},{120,102}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,484},{94,108}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,79},{94,108}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{120,78}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{120,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{112,110}}</string>
                <key>offset</key>
                <string>{-39,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{112,110}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>daoju2_explosion0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,532},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>daoju2_explosion0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,425},{125,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,155}}</string>
                <key>sourceSize</key>
                <string>{125,155}</string>
            </dict>
            <key>daoju2_explosion0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{142,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{142,171}</string>
            </dict>
            <key>daoju2_explosion0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,208}}</string>
                <key>sourceSize</key>
                <string>{143,208}</string>
            </dict>
            <key>daoju2_explosion0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,254},{169,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,182}}</string>
                <key>sourceSize</key>
                <string>{169,182}</string>
            </dict>
            <key>daoju2_explosion0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{159,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,190}}</string>
                <key>sourceSize</key>
                <string>{159,190}</string>
            </dict>
            <key>daoju2_explosion0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,302},{128,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,180}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>daoju2_explosion0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{129,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,191}}</string>
                <key>sourceSize</key>
                <string>{129,191}</string>
            </dict>
            <key>daoju2_explosion0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,133},{119,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,191}}</string>
                <key>sourceSize</key>
                <string>{119,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daoju2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aeab99e8f4081864ee3349c1a6a4b6d:1/1$</string>
            <key>textureFileName</key>
            <string>daoju2.png</string>
        </dict>
    </dict>
</plist>
