<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{88,112}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,12},{88,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,90}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,36},{100,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,342},{94,82}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,66},{94,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{96,96}}</string>
                <key>offset</key>
                <string>{26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{96,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,128},{108,102}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,75},{108,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,356},{106,100}}</string>
                <key>offset</key>
                <string>{-17,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,77},{106,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{116,88}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{116,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,124}}</string>
                <key>offset</key>
                <string>{-25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{104,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,112},{56,102}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,14},{56,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,104},{82,98}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,10},{82,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,82},{96,74}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{96,74}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{96,78}}</string>
                <key>offset</key>
                <string>{38,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{96,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{108,96}}</string>
                <key>offset</key>
                <string>{26,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,68},{108,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,238},{88,102}}</string>
                <key>offset</key>
                <string>{-10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,76},{88,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{116,68}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,53},{116,68}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daoju20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,246},{108,104}}</string>
                <key>offset</key>
                <string>{-32,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{108,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Daoju12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6edbbf141afeb64742ef3b6392b0bf:1/1$</string>
            <key>textureFileName</key>
            <string>Daoju12.png</string>
        </dict>
    </dict>
</plist>
