<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demonking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,298}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{410,298}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_bullet0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,59},{162,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>demonking_bullet0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{194,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>demonking_bullet0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,121},{197,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,53}}</string>
                <key>sourceSize</key>
                <string>{199,53}</string>
            </dict>
            <key>demonking_bullet0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,59},{200,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,29}}</string>
                <key>sourceSize</key>
                <string>{202,29}</string>
            </dict>
            <key>demonking_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{338,218}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,140},{338,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,298},{410,288}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,74},{410,288}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{340,296}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,70},{340,296}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{410,294}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,67},{410,294}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,600},{338,216}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,141},{338,216}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,588},{262,224}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,128},{262,224}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,588},{292,222}}</string>
                <key>offset</key>
                <string>{-21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,133},{292,222}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demonking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3fc10556c9bc69a6799b11f503ce4c2:1/1$</string>
            <key>textureFileName</key>
            <string>demonking2.png</string>
        </dict>
    </dict>
</plist>
