<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demonking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,298}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{410,298}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{338,218}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,140},{338,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,296},{410,288}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,74},{410,288}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{342,296}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,70},{342,296}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{410,292}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,69},{410,292}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,600},{338,216}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,141},{338,216}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,586},{262,224}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,128},{262,224}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,586},{292,222}}</string>
                <key>offset</key>
                <string>{-21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,133},{292,222}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demonking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9944aca0b637eaaa21c0fe8522c06183:1/1$</string>
            <key>textureFileName</key>
            <string>demonking2.png</string>
        </dict>
    </dict>
</plist>
