<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>muroidea_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{120,128}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,54},{120,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,404},{130,126}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{130,126}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,128},{138,124}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{138,124}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,272},{136,130}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{136,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,136},{136,134}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{136,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,138}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{132,138}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{126,134}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,51},{126,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,518},{120,130}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,54},{120,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,388},{130,128}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,56},{130,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,124}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,60},{138,124}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,254},{136,132}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{136,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{136,136}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{136,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,138}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,47},{132,138}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{128,132}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,50},{128,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>muroideaWalk.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a24840d4779b60ca57acf66c1359c82:1/1$</string>
            <key>textureFileName</key>
            <string>muroideaWalk.png</string>
        </dict>
    </dict>
</plist>
