<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Muroidea_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,92},{98,124}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{98,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,122}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{92,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,172},{88,122}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,47},{88,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,294},{90,118}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,51},{90,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{98,114}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,55},{98,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,386},{102,92}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,74},{102,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,362},{118,80}}</string>
                <key>offset</key>
                <string>{18,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{118,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{126,88}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,90},{126,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{130,88}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,89},{130,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,80},{128,90}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{128,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{132,90}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{132,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{136,76}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,100},{136,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,72}}</string>
                <key>offset</key>
                <string>{10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,107},{142,72}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,230},{92,118}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{92,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,126},{102,118}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,53},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{108,120}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,51},{108,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,192},{100,120}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{100,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,262},{98,118}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,53},{98,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Muroidea3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2acbf77a4c392e96430f789b0c5e5845:1/1$</string>
            <key>textureFileName</key>
            <string>Muroidea3.png</string>
        </dict>
    </dict>
</plist>
