<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>muroidea_wait0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,124},{124,136}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{124,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,246},{126,136}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,47},{126,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,374},{126,134}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{126,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{126,134}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,49},{126,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,378},{128,134}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{128,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,250},{126,134}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{126,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{124,134}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{124,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{120,136}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,47},{120,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{118,136}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{118,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,136}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,47},{118,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,122},{122,136}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,47},{122,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>muroidea_wait0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{122,136}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{122,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>muroideaWait.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:394ed13e95aa9313351fc629b39850ce:1/1$</string>
            <key>textureFileName</key>
            <string>muroideaWait.png</string>
        </dict>
    </dict>
</plist>
