<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Muroidea_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,102},{124,136}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{124,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,186},{106,134}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{106,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{100,134}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,44},{100,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,294},{96,132}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,47},{96,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{98,128}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,51},{98,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,228},{106,124}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,55},{106,124}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,336},{112,100}}</string>
                <key>offset</key>
                <string>{17,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,76},{112,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,380},{128,88}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,88},{128,88}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{138,94}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,94},{138,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,88},{140,96}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,92},{140,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{140,98}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,91},{140,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{144,98}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,90},{144,98}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{146,84}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,103},{146,84}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,78}}</string>
                <key>offset</key>
                <string>{10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,112},{152,78}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MuroideaDown.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3318aa48394afdb10b826280118647b8:1/1$</string>
            <key>textureFileName</key>
            <string>MuroideaDown.png</string>
        </dict>
    </dict>
</plist>
