<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Muroidea_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{124,136}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{124,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,258},{124,134}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,48},{124,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{126,130}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{126,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,384},{120,130}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,51},{120,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{116,134}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{116,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,138}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{176,138}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,136}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{178,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,240},{112,136}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,45},{112,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{114,136}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,45},{114,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,384},{114,134}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,47},{114,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,122},{116,138}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{116,138}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>Muroidea_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{118,140}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,43},{118,140}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MuroideaAttack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05d2b8e9bfa86a7eee0e0a1fc0e34f00:1/1$</string>
            <key>textureFileName</key>
            <string>MuroideaAttack.png</string>
        </dict>
    </dict>
</plist>
