<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Muroidea_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,708},{96,118}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,52},{96,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,648},{96,118}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,52},{96,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{114,124}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,48},{114,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,416},{116,122}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{116,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,810},{112,120}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,51},{112,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,306},{108,124}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{108,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,126}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,45},{164,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{160,126}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{160,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,124},{102,126}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,45},{102,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{104,124}}</string>
                <key>offset</key>
                <string>{20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,47},{104,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,378},{104,124}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,47},{104,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,80},{106,128}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{106,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{108,128}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{108,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,318},{98,124}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{98,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,418},{92,122}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{92,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,462},{88,122}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,47},{88,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,932},{90,118}}</string>
                <key>offset</key>
                <string>{19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,51},{90,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,708},{98,114}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,55},{98,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,746},{102,92}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,74},{102,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,932},{118,80}}</string>
                <key>offset</key>
                <string>{18,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,86},{118,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,228},{126,88}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,90},{126,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{130,88}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,89},{130,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,168},{128,90}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,88},{128,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,76},{132,90}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,87},{132,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{136,76}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,100},{136,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{142,72}}</string>
                <key>offset</key>
                <string>{10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,107},{142,72}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,376},{106,124}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{106,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{90,118}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{90,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,708},{96,118}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,52},{96,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,572},{102,120}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{102,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,360},{110,122}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{110,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,576},{120,116}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{120,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,340},{122,120}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{122,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,694},{114,120}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,53},{114,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,112},{116,126}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,47},{116,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,230},{108,124}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,468},{106,122}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{106,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{102,120}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{102,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,552},{94,120}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,51},{94,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,360},{106,122}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,50},{106,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,734},{92,118}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{92,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,630},{102,118}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,53},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,810},{108,120}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{108,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{100,120}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{100,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,708},{98,118}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,53},{98,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,810},{112,120}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{112,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,512},{120,116}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{120,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,118},{126,114}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,60},{126,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{126,120}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{126,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,234},{124,124}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{124,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{120,128}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,48},{120,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,188},{116,124}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{116,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{112,120}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{112,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,472},{120,116}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{120,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{126,114}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,60},{126,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{126,122}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{126,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,252},{124,126}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,45},{124,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,130},{120,128}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,47},{120,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,590},{116,120}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{116,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Muroidea1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc9e7e72b58ecbecc8496e611ae54d02:1/1$</string>
            <key>textureFileName</key>
            <string>Muroidea1.png</string>
        </dict>
    </dict>
</plist>
