<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pumpkin_wait0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{78,132}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,39},{78,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{76,132}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,39},{76,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,82},{74,130}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,41},{74,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,156},{70,130}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,41},{70,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,158},{68,130}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,41},{68,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,134},{70,130}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,41},{70,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,80},{74,130}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,41},{74,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{76,130}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,41},{76,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{78,132}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,39},{78,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{78,132}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,39},{78,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{78,132}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{78,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>pumpkin_wait0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,132}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,39},{78,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pumpkinWait.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5380c486125f68a4d4474349b0e34570:1/1$</string>
            <key>textureFileName</key>
            <string>pumpkinWait.png</string>
        </dict>
    </dict>
</plist>
