<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pumpkin_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{104,146}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,22},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,380},{104,146}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,22},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,486},{88,146}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,22},{88,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,262},{100,146}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,22},{100,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,453},{106,144}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{106,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{114,144}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,258},{120,146}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,22},{120,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,70},{122,148}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{122,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{162,146}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{162,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{160,146}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{160,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,148},{116,148}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{116,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,70},{122,148}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{122,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,150},{102,148}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,20},{102,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,862},{84,142}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{84,142}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,552},{88,140}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,26},{88,140}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,746},{96,138}}</string>
                <key>offset</key>
                <string>{24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,27},{96,138}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,349},{102,108}}</string>
                <key>offset</key>
                <string>{29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{102,108}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,743},{118,102}}</string>
                <key>offset</key>
                <string>{29,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,61},{118,102}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,598},{134,122}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{134,122}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,746},{138,114}}</string>
                <key>offset</key>
                <string>{24,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,599},{142,106}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,70},{142,106}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,64},{158,94}}</string>
                <key>offset</key>
                <string>{20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,82},{158,94}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{144,82}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,95},{144,82}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,540},{146,56}}</string>
                <key>offset</key>
                <string>{15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,121},{146,56}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,584},{146,54}}</string>
                <key>offset</key>
                <string>{15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,122},{146,54}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,254},{148,54}}</string>
                <key>offset</key>
                <string>{15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,122},{148,54}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,298},{96,146}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,22},{96,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,310},{104,146}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,22},{104,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,63},{84,144}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{84,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,863},{70,144}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{70,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{88,144}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,24},{88,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,654},{90,144}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,24},{90,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,863},{92,142}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,26},{92,142}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,209},{94,138}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{94,138}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,868},{72,144}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{72,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,160},{96,148}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,20},{96,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,80},{102,148}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,20},{102,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,416},{88,146}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,22},{88,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,576},{76,146}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,22},{76,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{82,148}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,20},{82,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,396},{86,146}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,22},{86,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,456},{82,146}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,22},{82,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,576},{76,146}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,22},{76,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,364},{90,146}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,22},{90,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,320},{90,146}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{90,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{106,146}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,21},{106,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,586},{96,144}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,22},{96,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,412},{88,146}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,21},{88,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{82,148}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,20},{82,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{76,150}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,19},{76,150}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,252},{66,148}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,20},{66,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,194},{66,148}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,20},{66,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,506},{78,146}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,22},{78,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{70,146}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{70,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,484},{66,146}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,21},{66,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,184},{66,148}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,20},{66,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{66,150}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,19},{66,150}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{66,146}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,20},{66,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,502},{80,146}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{80,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>enemy_bullet0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,59}}</string>
                <key>sourceSize</key>
                <string>{260,59}</string>
            </dict>
            <key>enemy_bullet0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{173,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,43}}</string>
                <key>sourceSize</key>
                <string>{175,43}</string>
            </dict>
            <key>enemy_bullet0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pumpkin1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecfb303f35270030ee1ac3ad85ec6dc2:1/1$</string>
            <key>textureFileName</key>
            <string>Pumpkin1.png</string>
        </dict>
    </dict>
</plist>
