<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_qiang110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,994},{116,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>bullet_qiang110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,990},{114,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{114,26}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>bullet_qiang110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,996},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>bullet_qiang110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,996},{116,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>reload_qiang110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,502},{98,164}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{98,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,830},{98,162}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{98,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,832},{112,162}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{112,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,334},{124,162}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{124,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{152,162}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{152,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,668},{140,162}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{140,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,502},{128,162}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,166},{116,162}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{116,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,832},{114,162}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{114,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{114,164}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{114,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{124,164}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{124,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang110012.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{114,164}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{114,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,666},{110,162}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{110,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,494},{126,160}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{126,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,410},{126,146}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{126,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,280},{128,146}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{128,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,140},{138,146}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{138,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{138,148}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{138,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{136,148}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{136,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,280},{136,148}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{136,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,142},{136,148}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{136,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,656},{136,150}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{136,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110011.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,818},{136,150}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{136,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110012.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,808},{100,150}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{100,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110013.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{94,148}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{94,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110014.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,152},{92,148}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{92,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110015.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,656},{90,160}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{90,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110016.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,330},{94,162}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{94,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang110017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{98,164}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{98,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{98,164}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{98,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,498},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,826},{94,162}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{94,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{92,162}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{92,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,166},{92,162}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{92,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,662},{94,162}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{94,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,168},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,166}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{96,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,336},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{98,164}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{98,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae884cf6f6b015ce2eca30aabbebd5a:1/1$</string>
            <key>textureFileName</key>
            <string>qiang11.png</string>
        </dict>
    </dict>
</plist>
