<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiang10_bullet0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,14},{143,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{143,40}}</string>
                <key>sourceSize</key>
                <string>{149,42}</string>
            </dict>
            <key>qiang10_bullet0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{244,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{244,21}}</string>
                <key>sourceSize</key>
                <string>{248,21}</string>
            </dict>
            <key>qiang10_bullet0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{578,10}}</string>
                <key>sourceSize</key>
                <string>{600,34}</string>
            </dict>
            <key>reload_qiang100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{124,166}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{124,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,14},{126,168}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{126,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,14},{114,168}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{114,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,130},{100,168}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{100,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,269},{106,166}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{106,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,268},{116,166}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{116,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,232},{118,166}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{118,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100008.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,149},{118,166}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{118,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{114,166}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{114,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100010.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,164},{110,166}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{110,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,377},{116,164}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{116,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang100012.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,276},{120,164}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{120,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,476},{128,162}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,398},{138,160}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{138,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,538},{136,158}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{136,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,631},{134,158}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{134,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100005.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{176,160}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{176,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{172,160}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{172,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100007.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,328},{152,160}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{152,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100008.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,495},{134,160}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{134,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,606},{132,160}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{132,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang100010.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,164},{128,162}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{120,164}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{120,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{118,162}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{118,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,482},{116,160}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{116,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{116,160}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{116,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,630},{116,160}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{116,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,510},{118,162}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{118,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,386},{122,164}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{122,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,142},{124,166}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{124,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100009.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,25},{122,166}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{122,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang100010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,352},{122,164}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{122,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4422f238fda18a157f6c521c1f14328d:1/1$</string>
            <key>textureFileName</key>
            <string>qiang10.png</string>
        </dict>
    </dict>
</plist>
