<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,118},{160,208}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,20},{160,208}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,122},{152,206}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,19},{152,206}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{146,206}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,19},{146,206}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{156,202}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,23},{156,202}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,280},{168,200}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,27},{168,200}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,276},{180,200}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{180,200}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,450},{196,192}}</string>
                <key>offset</key>
                <string>{-55,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{196,192}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,650},{194,192}}</string>
                <key>offset</key>
                <string>{-54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{194,192}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{192,194}}</string>
                <key>offset</key>
                <string>{-53,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,31},{192,194}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,560},{190,194}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{190,194}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{176,200}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{176,200}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,242},{178,202}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,23},{178,202}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{186,198}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,26},{186,198}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,458},{190,198}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,27},{190,198}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,810},{184,184}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,41},{184,184}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,844},{182,168}}</string>
                <key>offset</key>
                <string>{44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,57},{182,168}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,408},{188,150}}</string>
                <key>offset</key>
                <string>{48,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,73},{188,150}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,810},{194,140}}</string>
                <key>offset</key>
                <string>{52,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,69},{194,140}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,422},{200,124}}</string>
                <key>offset</key>
                <string>{50,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,94},{200,124}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{212,114}}</string>
                <key>offset</key>
                <string>{43,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,109},{212,114}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{214,116}}</string>
                <key>offset</key>
                <string>{37,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,113},{214,116}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,120},{208,120}}</string>
                <key>offset</key>
                <string>{32,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{208,120}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,120}}</string>
                <key>offset</key>
                <string>{32,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,123},{216,120}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{214,118}}</string>
                <key>offset</key>
                <string>{37,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,131},{214,118}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,548},{170,196}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,27},{170,196}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,844},{168,192}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,31},{168,192}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,644},{164,194}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,35},{164,194}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{148,206}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,18},{148,206}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,206},{160,200}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,23},{160,200}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9339c61b7d032e2a2045ad7879e30584:1/1$</string>
            <key>textureFileName</key>
            <string>scareking1.png</string>
        </dict>
    </dict>
</plist>
