<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_armor_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,246},{88,58}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,22},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{88,58}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{90,58}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,20},{90,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,184},{88,58}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,24},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,64},{86,60}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,30},{86,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,448},{80,60}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{80,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,450},{82,60}}</string>
                <key>offset</key>
                <string>{-21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,44},{82,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,366},{80,60}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,38},{80,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,306},{86,58}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{86,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{88,58}}</string>
                <key>offset</key>
                <string>{-24,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,28},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,192},{88,58}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,26},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,268},{86,58}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,23},{86,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,186},{88,58}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,22},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,304},{84,60}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,28},{84,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,366},{80,60}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,35},{80,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,390},{82,58}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{82,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,450},{82,60}}</string>
                <key>offset</key>
                <string>{-16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{82,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,184},{88,58}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,64}}</string>
                <key>offset</key>
                <string>{-27,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{88,58}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,22},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,132},{88,58}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,20},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,126},{88,58}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,18},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,178},{88,58}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,20},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,124},{88,58}}</string>
                <key>offset</key>
                <string>{-17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,23},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{88,60}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{88,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{86,58}}</string>
                <key>offset</key>
                <string>{36,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,26},{86,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{82,60}}</string>
                <key>offset</key>
                <string>{28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,36},{82,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{82,68}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,39},{82,68}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,314},{86,58}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,27},{86,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,90},{86,60}}</string>
                <key>offset</key>
                <string>{21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,25},{86,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,62},{86,60}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,23},{86,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{86,60}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,25},{86,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{88,60}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{88,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,124},{88,58}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,31},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,244},{84,60}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,33},{84,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,448},{80,60}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{80,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{82,60}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,41},{82,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,328},{82,60}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,44},{82,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{80,60}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,40},{80,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,252},{84,60}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,34},{84,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,72},{88,58}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,29},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{90,60}}</string>
                <key>offset</key>
                <string>{-27,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,26},{90,60}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,64},{88,58}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,25},{88,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_armor_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,306},{86,58}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{86,58}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrowArmor.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d61830e707bf94499a17c0a7fa10381:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrowArmor.png</string>
        </dict>
    </dict>
</plist>
