<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,140}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{106,140}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{104,138}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{104,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,110},{102,132}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,50},{102,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,318},{100,128}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{100,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,214},{102,130}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,53},{102,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,110},{102,132}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,52},{102,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,280},{102,134}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{102,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{102,134}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{102,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,144},{104,134}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{104,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{106,132}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,52},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,346},{106,130}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,53},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{106,130}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{106,132}}</string>
                <key>offset</key>
                <string>{-30,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,50},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{106,136}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{106,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrow1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a943742fbbec3159d5cc004b497c34:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrow1.png</string>
        </dict>
    </dict>
</plist>
