<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_wait0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{98,134}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{98,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,408},{96,132}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{96,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,100},{96,130}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,49},{96,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{96,130}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,49},{96,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,134},{94,128}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,51},{94,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{96,130}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,49},{96,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,274},{96,132}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{96,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,138},{96,134}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,45},{96,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{96,136}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{96,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,136}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{96,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,134}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,45},{96,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_wait0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{96,134}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,45},{96,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrowWait.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472a906b25f007efa7fabec675888d51:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrowWait.png</string>
        </dict>
    </dict>
</plist>
