<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,134}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{98,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{98,132}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{98,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,406},{98,128}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,51},{98,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{98,126}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,53},{98,126}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,102},{96,126}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{96,126}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,280},{96,124}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,57},{96,124}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,406},{98,120}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,62},{98,120}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{102,118}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{102,118}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,280},{94,122}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{94,122}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,186},{92,126}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,55},{92,126}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,94},{90,128}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,52},{90,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{90,130}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,50},{90,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,272},{92,132}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,47},{92,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{94,132}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{94,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrowWalk.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b3a897d093c0575f5f58dcefb5ecb5c:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrowWalk.png</string>
        </dict>
    </dict>
</plist>
