<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,114},{108,138}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{108,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,254},{112,136}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{112,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,134}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{116,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,368},{110,126}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{110,126}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,386},{108,116}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,66},{108,116}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,122},{112,108}}</string>
                <key>offset</key>
                <string>{20,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,73},{112,108}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{118,102}}</string>
                <key>offset</key>
                <string>{23,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,69},{118,102}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,164},{124,84}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,89},{124,84}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,194},{134,70}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,100},{134,70}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{140,56}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,112},{140,56}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,58},{142,54}}</string>
                <key>offset</key>
                <string>{14,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,117},{142,54}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{146,54}}</string>
                <key>offset</key>
                <string>{14,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,122},{146,54}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{144,54}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,127},{144,54}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,384},{106,132}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,48},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,250},{106,132}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,49},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,250},{102,134}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,51},{102,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,58},{104,134}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{104,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{106,134}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,47},{106,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrow3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84840e8bf5936a65c5a7c744e19ea46c:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrow3.png</string>
        </dict>
    </dict>
</plist>
