<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,278},{98,134}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{98,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,136}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,45},{94,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{92,136}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{92,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{88,136}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{88,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{94,132}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{94,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,274},{98,128}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,52},{98,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,404},{106,124}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,57},{106,124}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,258},{118,116}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{118,116}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{118,120}}</string>
                <key>offset</key>
                <string>{-36,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{118,120}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,132},{116,124}}</string>
                <key>offset</key>
                <string>{-35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,55},{116,124}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{114,128}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,51},{114,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>scarecrow_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,140},{104,132}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{104,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrowAttack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa93f67ce127706a6d825f767c186a6:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrowAttack.png</string>
        </dict>
    </dict>
</plist>
