<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{242,274}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,37},{242,274}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{252,272}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,39},{252,272}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,268}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,44},{258,268}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,546},{250,250}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,63},{250,250}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{246,228}}</string>
                <key>offset</key>
                <string>{62,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,84},{246,228}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,250},{254,204}}</string>
                <key>offset</key>
                <string>{68,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,105},{254,204}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{262,192}}</string>
                <key>offset</key>
                <string>{73,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,99},{262,192}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,670},{274,168}}</string>
                <key>offset</key>
                <string>{69,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,135},{274,168}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{288,154}}</string>
                <key>offset</key>
                <string>{61,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,155},{288,154}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,776},{292,156}}</string>
                <key>offset</key>
                <string>{52,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,161},{292,156}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,490},{284,164}}</string>
                <key>offset</key>
                <string>{45,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,163},{284,164}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,506},{294,162}}</string>
                <key>offset</key>
                <string>{46,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,174},{294,162}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,196},{292,160}}</string>
                <key>offset</key>
                <string>{52,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,184},{292,160}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,272},{222,264}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,54},{222,264}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{200,278}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,32},{200,278}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,798},{218,272}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,37},{218,272}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c92bd95d7b42f96b78373ed91edc10:1/1$</string>
            <key>textureFileName</key>
            <string>scareking2.png</string>
        </dict>
    </dict>
</plist>
