<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopButton0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,108}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{138,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{138,112}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,50},{138,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{138,114}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{138,114}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{138,114}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,51},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{138,114}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,51},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{138,114}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{138,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{138,112}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,50},{138,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,108}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{138,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{140,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{140,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>shopButton0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,282},{138,106}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{138,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopButtonTexiao.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7325b4023d7a1c99bf7e83ca5f2b0c4:1/1$</string>
            <key>textureFileName</key>
            <string>shopButtonTexiao.png</string>
        </dict>
    </dict>
</plist>
