<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,478},{228,242}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,65},{228,242}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,248},{228,242}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,65},{228,242}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,748},{196,240}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,64},{196,240}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{186,242}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,62},{186,242}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{194,244}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{194,244}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{208,248}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,62},{208,248}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,252},{208,246}}</string>
                <key>offset</key>
                <string>{-22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{208,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,250},{204,244}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{204,244}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,500},{168,246}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,62},{168,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{168,252}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,56},{168,252}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{174,252}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{174,252}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,260},{178,250}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,60},{178,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,514},{182,250}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,61},{182,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,764},{172,248}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,63},{172,248}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,766},{166,250}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,64},{166,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,512},{150,250}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,61},{150,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,256}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,56},{190,256}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{200,250}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{200,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{204,246}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,60},{204,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6733f57c0afd1bb883f02c0f15b32226:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_3.png</string>
        </dict>
    </dict>
</plist>
