<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,768},{204,246}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{204,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,526},{204,252}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{204,252}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,550},{216,258}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{216,258}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{220,278}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{220,278}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,184},{234,248}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,79},{234,248}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,550},{262,204}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,131},{262,204}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{302,196}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,146},{302,196}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{316,180}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,146},{316,180}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,194}}</string>
                <key>offset</key>
                <string>{-3,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,156},{326,194}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,198},{326,136}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,193},{326,136}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,414},{352,134}}</string>
                <key>offset</key>
                <string>{10,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,195},{352,134}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,140},{352,134}}</string>
                <key>offset</key>
                <string>{10,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,195},{352,134}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,276},{352,136}}</string>
                <key>offset</key>
                <string>{11,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,193},{352,136}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{354,136}}</string>
                <key>offset</key>
                <string>{10,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,193},{354,136}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,768},{204,246}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{204,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{204,240}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{204,240}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,780},{206,238}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,67},{206,238}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33dfdf543a5643391b94769ac14e3fd:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_2.png</string>
        </dict>
    </dict>
</plist>
