<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_shield_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,722},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,696},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,452},{100,122}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{100,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,434},{102,122}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,51},{102,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,194},{62,142}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,31},{62,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,330},{100,124}}</string>
                <key>offset</key>
                <string>{26,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,49},{100,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,212},{90,134}}</string>
                <key>offset</key>
                <string>{25,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,39},{90,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,198},{108,136}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{108,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,90},{146,120}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,52},{146,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,88},{152,104}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,68},{152,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,114},{148,104}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,68},{148,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{146,104}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,68},{146,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,90},{144,106}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,66},{144,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,402},{122,112}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{122,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,738},{78,116}}</string>
                <key>offset</key>
                <string>{28,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,54},{78,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,516},{100,122}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{100,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,328},{104,124}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{104,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,308},{108,126}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{108,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{110,128}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{110,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,560},{118,116}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{118,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,304},{130,114}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,46},{130,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{146,116}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,57},{146,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{150,110}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{150,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,90},{150,102}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{150,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{156,86}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,88},{156,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,84}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,92},{162,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,86}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,91},{162,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,86}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,91},{162,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,88}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,90},{162,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,554},{94,122}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{94,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,510},{96,120}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{96,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,636},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,612},{108,118}}</string>
                <key>offset</key>
                <string>{24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,54},{108,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{92,118}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,53},{92,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,894},{80,118}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{80,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,650},{92,112}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,58},{92,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,744},{96,106}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,64},{96,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,678},{106,102}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{106,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_heavy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,902},{102,112}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{102,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,538},{98,122}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{98,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{100,120}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{100,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{104,118}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,54},{104,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,618},{102,118}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{94,118}}</string>
                <key>offset</key>
                <string>{19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{94,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,540},{94,120}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,52},{94,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,638},{110,116}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,56},{110,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,722},{94,116}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,54},{94,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,902},{96,112}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,59},{96,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,798},{102,112}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,60},{102,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,452},{106,114}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,58},{106,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,296},{104,124}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{104,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,344},{106,122}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,52},{106,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,504},{106,120}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{106,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{84,122}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,52},{84,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,258},{70,128}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,48},{70,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{74,124}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{74,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,420},{82,124}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,51},{82,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,418},{90,124}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,51},{90,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,220},{88,122}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{88,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,608},{86,120}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,54},{86,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,114},{72,124}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{72,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,194},{100,128}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{100,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,220},{106,124}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{106,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_shield_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,432},{106,122}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,51},{106,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skull_shield.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9557b7d602c683da3302f419b3d7c67f:1/1$</string>
            <key>textureFileName</key>
            <string>skull_shield.png</string>
        </dict>
    </dict>
</plist>
