<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,666},{210,270}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,60},{210,270}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{166,300}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,30},{166,300}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,464},{200,274}}</string>
                <key>offset</key>
                <string>{29,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,56},{200,274}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{220,286}}</string>
                <key>offset</key>
                <string>{42,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,44},{220,286}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,316}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{226,316}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{292,286}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{292,286}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{302,238}}</string>
                <key>offset</key>
                <string>{-38,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,92},{302,238}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{296,238}}</string>
                <key>offset</key>
                <string>{-38,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,92},{296,238}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,224},{284,238}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,92},{284,238}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,290},{280,238}}</string>
                <key>offset</key>
                <string>{-37,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,92},{280,238}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,666},{246,254}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,76},{246,254}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,530},{186,264}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,66},{186,264}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,796},{186,262}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,68},{186,262}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a849d4e36a6521929846dc0cc9b5a72:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2.png</string>
        </dict>
    </dict>
</plist>
