<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{198,276}}</string>
                <key>offset</key>
                <string>{-22,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{198,276}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,476},{214,282}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{214,282}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{224,290}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,42},{224,290}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,774},{238,252}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,80},{238,252}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,738},{266,202}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,130},{266,202}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,392},{312,192}}</string>
                <key>offset</key>
                <string>{7,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,146},{312,192}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{318,192}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,146},{318,192}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,196},{312,194}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,156},{312,194}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,310},{336,164}}</string>
                <key>offset</key>
                <string>{12,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,182},{336,164}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{348,152}}</string>
                <key>offset</key>
                <string>{12,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,194},{348,152}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,156},{348,152}}</string>
                <key>offset</key>
                <string>{12,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,194},{348,152}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{348,152}}</string>
                <key>offset</key>
                <string>{13,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,194},{348,152}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,154}}</string>
                <key>offset</key>
                <string>{13,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,192},{348,154}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,692},{194,266}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{194,266}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{202,266}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,64},{202,266}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,586},{186,262}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,68},{186,262}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267da1d6c301c7741562536de15e6139:1/1$</string>
            <key>textureFileName</key>
            <string>skullking1.png</string>
        </dict>
    </dict>
</plist>
