<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,242},{104,138}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,308},{108,138}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{108,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,160}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,16},{70,160}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,308},{108,140}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,36},{108,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{100,152}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,24},{100,152}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{112,152}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{112,152}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{148,136}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,39},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,156},{150,118}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,57},{150,118}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{150,118}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,56},{150,118}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{148,118}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,56},{148,118}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,122},{146,118}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,56},{146,118}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,348},{122,128}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{122,128}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullAttack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b0a64ef0f547ab9410cfabd40c11a6f:1/1$</string>
            <key>textureFileName</key>
            <string>skullAttack.png</string>
        </dict>
    </dict>
</plist>
