<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{104,138}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{104,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,134},{110,140}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{110,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,134},{112,142}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{112,142}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,128},{112,144}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{112,144}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{128,124}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,52},{128,124}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,274},{148,108}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,68},{148,108}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,368},{166,100}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,80},{166,100}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,274},{170,96}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,84},{170,96}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,276},{170,90}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,93},{170,90}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{176,68}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,114},{176,68}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,68},{184,64}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,119},{184,64}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{184,64}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,119},{184,64}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,64}}</string>
                <key>offset</key>
                <string>{4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,118},{184,64}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,64}}</string>
                <key>offset</key>
                <string>{4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,118},{184,64}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullDown.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e20e0700e7def0d7e03d3ba366104f7f:1/1$</string>
            <key>textureFileName</key>
            <string>skullDown.png</string>
        </dict>
    </dict>
</plist>
