<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{148,182}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,48},{148,182}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,204}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,26},{106,204}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{136,184}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,45},{136,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{126,192}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,37},{126,192}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{152,194}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{152,194}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{188,174}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,54},{188,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,196},{190,158}}</string>
                <key>offset</key>
                <string>{-37,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,70},{190,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{190,158}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,70},{190,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{188,158}}</string>
                <key>offset</key>
                <string>{-40,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,70},{188,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{186,158}}</string>
                <key>offset</key>
                <string>{-41,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,70},{186,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,418},{160,168}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,61},{160,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,274},{142,178}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{142,178}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{148,180}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,50},{148,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,724},{136,174}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{136,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,400},{126,178}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,49},{126,178}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,140},{120,182}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,44},{120,182}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,898},{122,170}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,56},{122,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,388},{140,162}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,64},{140,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,840},{170,164}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,62},{170,164}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,724},{154,172}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{154,172}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,262},{136,178}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,51},{136,178}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,528},{136,174}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,54},{136,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,412},{130,176}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,52},{130,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,284},{126,178}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,49},{126,178}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,152},{130,180}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,49},{130,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,666},{136,172}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{136,172}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,152},{120,180}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,46},{120,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,900},{122,170}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,57},{122,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,544},{154,170}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,58},{154,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>skullking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,552},{138,170}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,58},{138,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df955574bde5d3cfb2474056275145b6:1/1$</string>
            <key>textureFileName</key>
            <string>skullking1.png</string>
        </dict>
    </dict>
</plist>
