<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,472},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,422},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,360},{94,122}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{94,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{60,142}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,31},{60,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,264},{94,124}}</string>
                <key>offset</key>
                <string>{28,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{94,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,148},{88,134}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,39},{88,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,60},{98,136}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{98,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,238},{130,120}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,52},{130,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,160},{132,104}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,68},{132,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,60},{132,104}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,68},{132,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{132,104}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,68},{132,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{130,106}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,66},{130,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,88},{108,112}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,60},{108,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,230},{98,124}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,49},{98,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,188},{98,124}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,49},{98,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,88},{98,126}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{98,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,296},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{114,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,166},{130,96}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,77},{130,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,60},{146,86}}</string>
                <key>offset</key>
                <string>{7,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,90},{146,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{152,84}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,92},{152,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{150,80}}</string>
                <key>offset</key>
                <string>{8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,99},{150,80}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{156,60}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,119},{156,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{162,56}}</string>
                <key>offset</key>
                <string>{8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,123},{162,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,56}}</string>
                <key>offset</key>
                <string>{8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,123},{162,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,56}}</string>
                <key>offset</key>
                <string>{8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,123},{162,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,56}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,122},{162,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,374},{96,120}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{96,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,594},{92,118}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{92,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,524},{84,118}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{84,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,574},{76,118}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{76,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,560},{80,112}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,58},{80,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,186},{92,106}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,64},{92,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,610},{102,102}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{102,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,280},{92,112}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,60},{92,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,456},{92,120}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,53},{92,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,550},{92,118}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{92,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,624},{88,118}}</string>
                <key>offset</key>
                <string>{15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{88,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,474},{84,118}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{84,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,504},{88,120}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,52},{88,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,644},{92,116}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,56},{92,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,688},{76,116}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,54},{76,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,502},{80,112}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,59},{80,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,202},{92,112}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,60},{92,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,408},{92,114}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,58},{92,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,330},{90,124}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{90,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{94,122}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,52},{94,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{96,120}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,53},{96,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,456},{78,122}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,52},{78,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,158},{70,126}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,48},{70,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,266},{74,124}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{74,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,60},{80,124}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{80,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,386},{86,124}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,51},{86,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,416},{86,122}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,53},{86,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,536},{86,120}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,54},{86,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,342},{72,124}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,51},{72,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,64},{92,128}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{92,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,288},{96,124}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,49},{96,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,360},{94,122}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{94,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skull1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459646557fa8c962c40e85fb4dd24b35:1/1$</string>
            <key>textureFileName</key>
            <string>skull1.png</string>
        </dict>
    </dict>
</plist>
