<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,250},{92,116}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,56},{92,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,124},{76,116}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{76,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,232},{80,112}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,59},{80,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,118},{92,112}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{92,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{92,114}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{92,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{90,124}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{90,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{94,122}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{94,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{96,120}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,53},{96,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{78,122}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,52},{78,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{70,126}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{70,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,258},{74,124}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,50},{74,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,132},{80,124}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{80,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,386},{86,124}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,51},{86,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,252},{86,122}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,53},{86,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,376},{86,120}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{86,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{72,124}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{72,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,128}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{92,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{96,124}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{96,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,128},{94,122}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,51},{94,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skull1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6112e919c9eeaf986467ae0ab1b4c8c7:1/1$</string>
            <key>textureFileName</key>
            <string>skull1.png</string>
        </dict>
    </dict>
</plist>
