<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,226},{102,140}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,38},{102,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,330},{106,138}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,39},{106,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,136}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{110,136}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{88,138}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{88,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{80,142}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{80,142}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,208},{86,140}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,37},{86,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{92,140}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,38},{92,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,110},{96,140}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,38},{96,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,208},{96,138}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,40},{96,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,348},{98,136}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{98,136}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,350},{82,140}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,39},{82,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{104,144}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,35},{104,144}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,84},{108,140}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{108,140}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>skull_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{106,138}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,38},{106,138}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullWalk.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acc92431269f53dd126a5451c14bdc32:1/1$</string>
            <key>textureFileName</key>
            <string>skullWalk.png</string>
        </dict>
    </dict>
</plist>
