<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowmanking_death0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{330,266}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,88},{330,266}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_death0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{336,292}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,76},{336,292}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_death0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,510},{298,224}}</string>
                <key>offset</key>
                <string>{34,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{298,224}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_death0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,280},{312,228}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,128},{312,228}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_death0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,242}}</string>
                <key>offset</key>
                <string>{24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,112},{364,242}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_death0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{358,276}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,78},{358,276}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_death0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,340},{306,250}}</string>
                <key>offset</key>
                <string>{28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,104},{306,250}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowmanking6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d07cf22057abd27310978468a85d4f3a:1/1$</string>
            <key>textureFileName</key>
            <string>snowmanking6.png</string>
        </dict>
    </dict>
</plist>
