<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowmanking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{266,246}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,78},{266,246}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,486},{262,242}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,81},{262,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,240},{264,244}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,81},{264,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{270,244}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,83},{270,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,486},{250,222}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,82},{250,222}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,240},{240,204}}</string>
                <key>offset</key>
                <string>{30,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,80},{240,204}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,588},{236,208}}</string>
                <key>offset</key>
                <string>{32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,78},{236,208}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,738},{240,218}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,95},{240,218}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{266,234}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,109},{266,234}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{272,236}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,112},{272,236}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{286,236}}</string>
                <key>offset</key>
                <string>{23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,114},{286,236}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,236}}</string>
                <key>offset</key>
                <string>{23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,115},{294,236}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,298},{288,184}}</string>
                <key>offset</key>
                <string>{19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,171},{288,184}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{294,166}}</string>
                <key>offset</key>
                <string>{10,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,194},{294,166}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,730},{236,242}}</string>
                <key>offset</key>
                <string>{-69,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,76},{236,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowmanking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7464afe67a08d3606a2bbec268269c4f:1/1$</string>
            <key>textureFileName</key>
            <string>snowmanking2.png</string>
        </dict>
    </dict>
</plist>
