<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowman_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{178,166}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{178,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,168}}</string>
                <key>offset</key>
                <string>{31,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{182,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,636},{166,166}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{166,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,804},{158,166}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,55},{158,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{162,166}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,55},{162,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,808},{162,164}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,57},{162,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{162,164}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,57},{162,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,470},{168,164}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,57},{168,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,508},{166,166}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,55},{166,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{178,168}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,53},{178,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{176,170}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,51},{176,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,340},{166,168}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,53},{166,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,676},{158,166}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,55},{158,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,170},{170,166}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,55},{170,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,640},{166,166}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{166,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,654},{158,166}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,55},{158,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{162,166}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,55},{162,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,470},{168,164}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,57},{168,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,814},{160,164}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,57},{160,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,174},{144,174}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,51},{144,174}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,338},{144,170}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,54},{144,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,484},{144,168}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,55},{144,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,500},{150,168}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,54},{150,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{162,168}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,53},{162,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,174},{164,170}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,52},{164,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{170,168}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,52},{170,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{178,170}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,52},{178,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,170},{176,168}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,53},{176,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{170,166}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{170,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,652},{160,166}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,54},{160,166}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,340},{158,168}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,52},{158,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,484},{154,168}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,53},{154,168}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>snowman_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,320},{148,172}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,51},{148,172}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowman1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3532d76840d71db8f1a69e4626de398:1/1$</string>
            <key>textureFileName</key>
            <string>snowman1.png</string>
        </dict>
    </dict>
</plist>
