<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowmanking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{244,240}}</string>
                <key>offset</key>
                <string>{-60,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{244,240}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,712},{232,240}}</string>
                <key>offset</key>
                <string>{-60,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,79},{232,240}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{210,252}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,77},{210,252}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,458},{210,250}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,78},{210,250}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,670},{208,244}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,82},{208,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{220,244}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,81},{220,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,466},{236,244}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,79},{236,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{238,246}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,78},{238,246}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,242},{248,244}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,79},{248,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,248}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,77},{260,248}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{256,244}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,79},{256,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,214},{250,242}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,82},{250,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,704},{234,242}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,80},{234,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{230,242}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,79},{230,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,488},{222,246}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,78},{222,246}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,248},{216,250}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,77},{216,250}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowmanking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:854a5fade4e3079db2b414921e9651da:1/1$</string>
            <key>textureFileName</key>
            <string>snowmanking3.png</string>
        </dict>
    </dict>
</plist>
