<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone_hurt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{98,136}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{98,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_hurt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,134}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{110,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_hurt03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,108},{98,128}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{98,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_hurt04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{104,126}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{104,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_hurt05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{98,136}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{98,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stone_hurt.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0efaa6a0b1965132aa1ba76877a98b55:1/1$</string>
            <key>textureFileName</key>
            <string>stone_hurt.png</string>
        </dict>
    </dict>
</plist>
