<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,136}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{110,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,122},{114,128}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{114,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,120}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{118,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{114,128}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,15},{114,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>stone_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,136}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{110,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stone_walk.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3987ff68499f5c5483949e5b54e6d61:1/1$</string>
            <key>textureFileName</key>
            <string>stone_walk.png</string>
        </dict>
    </dict>
</plist>
