<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,460},{46,46}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,18},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>blood0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,308},{88,92}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{88,92}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>blood0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,216},{146,88}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{146,88}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>blood0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,108},{158,92}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{158,92}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>blood0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{184,96}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>blood0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,104}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{180,104}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>blood0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{102,34}}</string>
                <key>offset</key>
                <string>{-21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,68},{102,34}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>flydown0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,250},{34,34}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{34,34}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,160},{36,88}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{36,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,308},{72,76}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,55},{72,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,202},{86,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,51},{86,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,202},{96,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{96,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,202},{98,104}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{98,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,386},{72,66}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,80},{72,66}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,402},{74,90}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{74,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,422},{106,88}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,42},{106,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,306},{114,94}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{114,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{78,116}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{78,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,128},{86,124}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{86,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flydown0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,306},{68,68}}</string>
                <key>offset</key>
                <string>{-21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,108},{42,50}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,52},{42,50}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{86,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,26},{86,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{100,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{124,130}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{124,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texiao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4558a1b7e8869e83fc412f4c1335ee74:1/1$</string>
            <key>textureFileName</key>
            <string>texiao.png</string>
        </dict>
    </dict>
</plist>
