<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vampireking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{234,220}}</string>
                <key>offset</key>
                <string>{68,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,94},{234,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,236},{234,220}}</string>
                <key>offset</key>
                <string>{68,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,94},{234,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,178},{144,238}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,85},{144,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,476},{144,230}}</string>
                <key>offset</key>
                <string>{43,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,93},{144,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,768},{142,226}}</string>
                <key>offset</key>
                <string>{54,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,98},{142,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,798},{148,220}}</string>
                <key>offset</key>
                <string>{72,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,104},{148,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,324},{168,232}}</string>
                <key>offset</key>
                <string>{67,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,92},{168,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{182,240}}</string>
                <key>offset</key>
                <string>{63,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,86},{182,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{174,250}}</string>
                <key>offset</key>
                <string>{53,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,77},{174,250}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,608},{158,228}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,99},{158,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{250,190}}</string>
                <key>offset</key>
                <string>{-23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,136},{250,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,206}}</string>
                <key>offset</key>
                <string>{-30,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,120},{262,206}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{256,232}}</string>
                <key>offset</key>
                <string>{-30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,98},{256,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,178},{144,238}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,85},{144,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,186},{144,236}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,77},{144,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,494},{136,230}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,83},{136,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,768},{146,226}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,87},{146,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,780},{150,226}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,88},{150,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{154,228}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,86},{154,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,332},{142,232}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,82},{142,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,622},{174,220}}</string>
                <key>offset</key>
                <string>{38,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,93},{174,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{154,228}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,86},{154,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,458},{148,232}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,82},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,760},{138,224}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,90},{138,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,632},{126,218}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,95},{126,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vampireking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82dd0d49497305d842bd539ad587652:1/1$</string>
            <key>textureFileName</key>
            <string>vampireking1.png</string>
        </dict>
    </dict>
</plist>
