<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vampireking_summon0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,716},{140,278}}</string>
                <key>offset</key>
                <string>{36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,19},{140,278}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{140,286}}</string>
                <key>offset</key>
                <string>{36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,11},{140,286}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{142,292}}</string>
                <key>offset</key>
                <string>{35,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,5},{142,292}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,298}}</string>
                <key>offset</key>
                <string>{35,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,0},{142,298}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{140,294}}</string>
                <key>offset</key>
                <string>{39,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,3},{140,294}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,290},{142,290}}</string>
                <key>offset</key>
                <string>{42,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,7},{142,290}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,286}}</string>
                <key>offset</key>
                <string>{43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,11},{146,286}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{140,284}}</string>
                <key>offset</key>
                <string>{43,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,13},{140,284}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_summon0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{140,282}}</string>
                <key>offset</key>
                <string>{39,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,15},{140,282}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vampireking4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b267038eff82b1d0e896da66380d4f:1/1$</string>
            <key>textureFileName</key>
            <string>vampireking4.png</string>
        </dict>
    </dict>
</plist>
