<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vampireking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{146,236}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,94},{146,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{142,230}}</string>
                <key>offset</key>
                <string>{37,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,96},{142,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,338},{140,224}}</string>
                <key>offset</key>
                <string>{47,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,100},{140,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,474},{138,220}}</string>
                <key>offset</key>
                <string>{56,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,103},{138,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,480},{158,200}}</string>
                <key>offset</key>
                <string>{66,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,114},{158,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,640},{198,188}}</string>
                <key>offset</key>
                <string>{73,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,126},{198,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,298},{226,172}}</string>
                <key>offset</key>
                <string>{75,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,139},{226,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,792},{216,146}}</string>
                <key>offset</key>
                <string>{71,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,177},{216,146}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,790},{208,142}}</string>
                <key>offset</key>
                <string>{64,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,207},{208,142}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,650},{210,138}}</string>
                <key>offset</key>
                <string>{60,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,205},{210,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,148},{230,148}}</string>
                <key>offset</key>
                <string>{55,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,209},{230,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{234,178}}</string>
                <key>offset</key>
                <string>{56,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,193},{234,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{240,174}}</string>
                <key>offset</key>
                <string>{55,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,192},{240,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,168}}</string>
                <key>offset</key>
                <string>{54,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,193},{248,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{144,236}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,77},{144,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,326},{146,226}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,87},{146,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,792},{204,214}}</string>
                <key>offset</key>
                <string>{51,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,99},{204,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,472},{176,220}}</string>
                <key>offset</key>
                <string>{39,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,94},{176,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{156,224}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,90},{156,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,182},{154,228}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,86},{154,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{140,218}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,96},{140,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{152,216}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,98},{152,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,614},{176,218}}</string>
                <key>offset</key>
                <string>{-47,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,96},{176,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_hurt_heavy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,178},{146,230}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,84},{146,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vampireking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c38ae5d109d4271060f677c393f2bb1a:1/1$</string>
            <key>textureFileName</key>
            <string>vampireking2.png</string>
        </dict>
    </dict>
</plist>
