<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{278,306}}</string>
                <key>offset</key>
                <string>{12,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,127},{278,306}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,314}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,119},{328,314}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,248},{306,284}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,149},{306,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{316,260}}</string>
                <key>offset</key>
                <string>{33,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,173},{316,260}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{318,244}}</string>
                <key>offset</key>
                <string>{59,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,189},{318,244}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,722},{274,252}}</string>
                <key>offset</key>
                <string>{69,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,181},{274,252}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,722},{256,254}}</string>
                <key>offset</key>
                <string>{64,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,179},{256,254}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,722},{248,250}}</string>
                <key>offset</key>
                <string>{57,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,183},{248,250}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{278,220}}</string>
                <key>offset</key>
                <string>{41,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,214},{278,220}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,494},{298,226}}</string>
                <key>offset</key>
                <string>{31,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,214},{298,226}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,264},{306,228}}</string>
                <key>offset</key>
                <string>{27,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,217},{306,228}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99679adde2b8e49643247d64ddd50cb0:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_2.png</string>
        </dict>
    </dict>
</plist>
