<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,286}}</string>
                <key>offset</key>
                <string>{27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,129},{292,286}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{286,270}}</string>
                <key>offset</key>
                <string>{35,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,145},{286,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cfc932f50f5e7b5129513cd0b9ad614:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking1.png</string>
        </dict>
    </dict>
</plist>
