<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,454},{158,154}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,78},{158,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,160}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{186,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{174,142}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,89},{174,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{182,124}}</string>
                <key>offset</key>
                <string>{28,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,104},{182,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{178,112}}</string>
                <key>offset</key>
                <string>{41,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,112},{178,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,520},{156,118}}</string>
                <key>offset</key>
                <string>{49,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,109},{156,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,324},{142,128}}</string>
                <key>offset</key>
                <string>{48,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,107},{142,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,180},{142,140}}</string>
                <key>offset</key>
                <string>{42,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,109},{142,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{158,126}}</string>
                <key>offset</key>
                <string>{33,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,127},{158,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,390},{170,128}}</string>
                <key>offset</key>
                <string>{28,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,128},{170,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,258},{176,130}}</string>
                <key>offset</key>
                <string>{25,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,129},{176,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{176,130}}</string>
                <key>offset</key>
                <string>{24,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,130},{176,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,128},{178,128}}</string>
                <key>offset</key>
                <string>{23,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,132},{178,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolf3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2aa2471046c93de0e5e7fc8a2a6656a:1/1$</string>
            <key>textureFileName</key>
            <string>wolf3.png</string>
        </dict>
    </dict>
</plist>
