<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{436,248}}</string>
                <key>offset</key>
                <string>{17,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,222},{436,248}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{276,338}}</string>
                <key>offset</key>
                <string>{27,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,119},{276,338}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,280},{268,338}}</string>
                <key>offset</key>
                <string>{27,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,119},{268,338}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{272,330}}</string>
                <key>offset</key>
                <string>{29,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,127},{272,330}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,620},{278,328}}</string>
                <key>offset</key>
                <string>{28,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,129},{278,328}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,276},{280,326}}</string>
                <key>offset</key>
                <string>{26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,131},{280,326}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,316}}</string>
                <key>offset</key>
                <string>{41,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,145},{302,316}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,620},{290,322}}</string>
                <key>offset</key>
                <string>{30,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,139},{290,322}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{298,330}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,131},{298,330}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af2d2e730e5d1a161e8730f0837ec0d:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2.png</string>
        </dict>
    </dict>
</plist>
