<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{412,258}}</string>
                <key>offset</key>
                <string>{-23,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,161},{412,258}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{398,264}}</string>
                <key>offset</key>
                <string>{-21,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,151},{398,264}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,416},{330,272}}</string>
                <key>offset</key>
                <string>{-18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,143},{330,272}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,282}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,133},{286,282}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,242},{276,280}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,141},{276,280}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,690},{248,286}}</string>
                <key>offset</key>
                <string>{-21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,136},{248,286}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{238,290}}</string>
                <key>offset</key>
                <string>{-25,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,131},{238,290}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{254,298}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{254,298}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,690},{270,282}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,133},{270,282}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af42e7d27dd845a9fbd74640b8247ba:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking7.png</string>
        </dict>
    </dict>
</plist>
