<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,196},{216,210}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,93},{216,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,220}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,86},{254,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{238,192}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,110},{238,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{246,168}}</string>
                <key>offset</key>
                <string>{27,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,129},{246,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{248,152}}</string>
                <key>offset</key>
                <string>{48,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,140},{248,152}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,580},{212,162}}</string>
                <key>offset</key>
                <string>{56,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,134},{212,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{194,174}}</string>
                <key>offset</key>
                <string>{54,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,133},{194,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,826},{192,190}}</string>
                <key>offset</key>
                <string>{47,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,136},{192,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,408},{214,170}}</string>
                <key>offset</key>
                <string>{34,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,161},{214,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,334},{232,176}}</string>
                <key>offset</key>
                <string>{26,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,160},{232,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,172},{238,178}}</string>
                <key>offset</key>
                <string>{23,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,162},{238,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,156},{240,176}}</string>
                <key>offset</key>
                <string>{21,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,164},{240,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{240,172}}</string>
                <key>offset</key>
                <string>{20,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,168},{240,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,352},{204,216}}</string>
                <key>offset</key>
                <string>{23,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,94},{204,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{214,218}}</string>
                <key>offset</key>
                <string>{31,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,92},{214,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,700},{214,210}}</string>
                <key>offset</key>
                <string>{34,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,100},{214,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,580},{210,200}}</string>
                <key>offset</key>
                <string>{39,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,112},{210,200}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,782},{198,206}}</string>
                <key>offset</key>
                <string>{33,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,107},{198,206}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,512},{186,216}}</string>
                <key>offset</key>
                <string>{27,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,102},{186,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{214,210}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,100},{214,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,744},{210,198}}</string>
                <key>offset</key>
                <string>{29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,113},{210,198}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa363d05e785befa3b626202a7a5fdf2:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2.png</string>
        </dict>
    </dict>
</plist>
