<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_armor_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,178},{86,70}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{86,70}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,83},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,146},{86,70}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,83},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,90},{86,70}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,81},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{86,70}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,74},{86,70}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,77},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{86,70}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,80},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{86,70}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,84},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{86,68}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,84},{86,68}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,68}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,83},{88,68}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{86,68}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,81},{86,68}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,218},{86,68}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,79},{86,68}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,266},{84,70}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,77},{84,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_armor_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,70}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{86,70}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfArmor2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdcd9cf467a0fe673a0787acf05fb98e:1/1$</string>
            <key>textureFileName</key>
            <string>wolfArmor2.png</string>
        </dict>
    </dict>
</plist>
