<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,214},{200,208}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,102},{200,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,210}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,101},{198,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,216}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,98},{198,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>wolfking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{202,212}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,98},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ccacebb92d0405b0a1ed31c531e84ee:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking4.png</string>
        </dict>
    </dict>
</plist>
