<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,258},{258,274}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,134},{258,274}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{254,280}}</string>
                <key>offset</key>
                <string>{22,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,128},{254,280}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{254,280}}</string>
                <key>offset</key>
                <string>{27,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,128},{254,280}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,258},{258,272}}</string>
                <key>offset</key>
                <string>{29,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,136},{258,272}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{256,276}}</string>
                <key>offset</key>
                <string>{31,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,138},{256,276}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{256,270}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,138},{256,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,518},{270,258}}</string>
                <key>offset</key>
                <string>{47,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,152},{270,258}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,518},{254,266}}</string>
                <key>offset</key>
                <string>{40,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,146},{254,266}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,774},{240,278}}</string>
                <key>offset</key>
                <string>{32,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,140},{240,278}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,270}}</string>
                <key>offset</key>
                <string>{28,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,138},{276,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d95309bbdcaf6b4c1345309dda2086:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_6.png</string>
        </dict>
    </dict>
</plist>
