<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{132,140}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{132,140}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{138,142}}</string>
                <key>offset</key>
                <string>{26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,62},{138,142}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,136},{138,136}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,68},{138,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{136,138}}</string>
                <key>offset</key>
                <string>{31,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{136,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{136,142}}</string>
                <key>offset</key>
                <string>{33,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,62},{136,142}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,558},{130,136}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,68},{130,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,276},{128,136}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{128,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,276},{128,140}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,66},{128,140}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,562},{130,138}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,66},{130,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,420},{128,140}}</string>
                <key>offset</key>
                <string>{19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{128,140}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{128,142}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,62},{128,142}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,702},{130,136}}</string>
                <key>offset</key>
                <string>{22,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,68},{130,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,706},{130,138}}</string>
                <key>offset</key>
                <string>{23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,69},{130,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,846},{130,136}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{130,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,132}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{152,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{144,132}}</string>
                <key>offset</key>
                <string>{12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,73},{144,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,276},{136,136}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,74},{136,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,138},{122,136}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,71},{122,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,414},{128,136}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,69},{128,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{132,138}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{132,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{144,132}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,69},{144,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,132}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,73},{156,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{144,132}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,73},{144,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,142},{132,132}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,74},{132,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,136},{118,136}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,71},{118,136}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{114,138}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{114,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{120,140}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,67},{120,140}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>wolf_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{126,134}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,70},{126,134}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolf2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8fc528e6bfc185bebc58c4ed4416a86:1/1$</string>
            <key>textureFileName</key>
            <string>wolf2.png</string>
        </dict>
    </dict>
</plist>
