<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{304,302}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,131},{304,302}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,676},{270,360}}</string>
                <key>offset</key>
                <string>{44,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,73},{270,360}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{274,414}}</string>
                <key>offset</key>
                <string>{61,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,19},{274,414}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,420},{302,404}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,29},{302,404}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,416}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{376,416}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{400,308}}</string>
                <key>offset</key>
                <string>{-17,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,125},{400,308}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,404},{396,270}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,163},{396,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:918c38558efcb0468a56fa8e9184b3d6:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_1.png</string>
        </dict>
    </dict>
</plist>
