<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{150,160}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{150,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{158,160}}</string>
                <key>offset</key>
                <string>{31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{158,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,164},{156,156}}</string>
                <key>offset</key>
                <string>{34,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,82},{156,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,328},{156,156}}</string>
                <key>offset</key>
                <string>{36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,82},{156,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,162}}</string>
                <key>offset</key>
                <string>{39,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{156,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,160},{146,154}}</string>
                <key>offset</key>
                <string>{28,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{146,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,322},{146,154}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,84},{146,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{146,160}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{146,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{148,156}}</string>
                <key>offset</key>
                <string>{6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,82},{148,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolf4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c9e12f759fd661cafb3dabf63981fd:1/1$</string>
            <key>textureFileName</key>
            <string>wolf4.png</string>
        </dict>
    </dict>
</plist>
