<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{264,304}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,129},{264,304}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{276,306}}</string>
                <key>offset</key>
                <string>{37,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,127},{276,306}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,308},{274,298}}</string>
                <key>offset</key>
                <string>{42,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,135},{274,298}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,620},{274,300}}</string>
                <key>offset</key>
                <string>{46,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,133},{274,300}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,308}}</string>
                <key>offset</key>
                <string>{51,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,125},{272,308}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,302},{256,294}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,139},{256,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,608},{254,296}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,137},{254,296}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{274,300}}</string>
                <key>offset</key>
                <string>{-15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,133},{274,300}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{260,298}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,135},{260,298}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd5a00f16a691150e9c79d349625e167:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_4.png</string>
        </dict>
    </dict>
</plist>
