<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{408,312}}</string>
                <key>offset</key>
                <string>{-15,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,151},{408,312}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{366,320}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,143},{366,320}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,330}}</string>
                <key>offset</key>
                <string>{14,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,133},{322,330}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,664},{324,322}}</string>
                <key>offset</key>
                <string>{16,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,141},{324,322}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{310,326}}</string>
                <key>offset</key>
                <string>{11,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,137},{310,326}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,664},{296,332}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,131},{296,332}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,324},{282,338}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{282,338}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{304,330}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,133},{304,330}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41acb9f4e4a3bbd0eebd1f326f7e61cc:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking7.png</string>
        </dict>
    </dict>
</plist>
