<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{254,304}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,129},{254,304}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,306}}</string>
                <key>offset</key>
                <string>{27,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,127},{254,306}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{258,296}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,137},{258,296}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,596},{256,294}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,139},{256,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,300},{256,294}}</string>
                <key>offset</key>
                <string>{23,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,139},{256,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,596},{270,280}}</string>
                <key>offset</key>
                <string>{47,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,153},{270,280}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{254,288}}</string>
                <key>offset</key>
                <string>{40,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,145},{254,288}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,300},{240,294}}</string>
                <key>offset</key>
                <string>{32,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,139},{240,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{276,296}}</string>
                <key>offset</key>
                <string>{28,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,137},{276,296}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e00ca291066a9d220646f70a235e067f:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_6.png</string>
        </dict>
    </dict>
</plist>
