<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{294,326}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,117},{294,326}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,332}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,111},{348,332}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,298},{324,302}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,141},{324,302}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,264},{334,276}}</string>
                <key>offset</key>
                <string>{33,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,167},{334,276}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{338,260}}</string>
                <key>offset</key>
                <string>{61,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,183},{338,260}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,542},{290,268}}</string>
                <key>offset</key>
                <string>{72,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,175},{290,268}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{272,270}}</string>
                <key>offset</key>
                <string>{65,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,173},{272,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,602},{262,266}}</string>
                <key>offset</key>
                <string>{59,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,177},{262,266}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{294,232}}</string>
                <key>offset</key>
                <string>{42,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,211},{294,232}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeff0ee177976da34be762c7e0323983:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking3.png</string>
        </dict>
    </dict>
</plist>
