<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yy_Muroidea.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,404},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>yy_Muroidea_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{78,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{78,83}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_Muroidea_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,458},{78,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{78,83}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_Muroidea_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,379},{74,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{74,83}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_Pumpkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,335},{67,85}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{67,85}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_Pumpkin_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,414},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>yy_Pumpkin_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,395},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>yy_Pumpkin_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,366},{67,85}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{67,85}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,314},{93,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,58}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>yy_bat_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,412},{92,57}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{92,57}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>yy_bee.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,344},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>yy_bee_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,338},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>yy_blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,374},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{78,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{78,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,374},{74,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,77}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,453},{68,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{68,73}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_butcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>yy_butcher_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,106},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>yy_butcherking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{149,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,109}}</string>
                <key>sourceSize</key>
                <string>{149,109}</string>
            </dict>
            <key>yy_butcherking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{149,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,109}}</string>
                <key>sourceSize</key>
                <string>{149,109}</string>
            </dict>
            <key>yy_demon.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,246},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>yy_demon_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,189},{105,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,89}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>yy_demon_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{105,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,89}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>yy_demon_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,195},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>yy_demonking.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{159,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,102}}</string>
                <key>sourceSize</key>
                <string>{159,102}</string>
            </dict>
            <key>yy_demonking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,102}}</string>
                <key>sourceSize</key>
                <string>{159,102}</string>
            </dict>
            <key>yy_scarecrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,448},{60,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,79}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scarecrow_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,177},{62,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{62,87}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scarecrow_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,113},{62,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{62,87}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scarecrow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,418},{60,79}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{60,79}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scareking.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,89},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,110}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>yy_scareking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{88,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,110}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>yy_skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,390},{66,85}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skull_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,592},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skull_a_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,549},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skull_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,304},{60,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,89}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>yy_skull_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,304},{60,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{60,89}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_skull_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,479},{62,83}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{62,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skull_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,543},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skull_shield_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,480},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skullking.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{85,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{85,111}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_skullking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,113},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>yy_skullking2_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,96},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>yy_skullking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,200},{83,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{83,109}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_snowman.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,320},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>yy_snowman_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,241},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>yy_snowmanking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>yy_snowmanking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,206},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>yy_vampire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{52,83}</string>
            </dict>
            <key>yy_vampire_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,538},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{52,83}</string>
            </dict>
            <key>yy_vampireking.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,179},{65,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,107}}</string>
                <key>sourceSize</key>
                <string>{65,107}</string>
            </dict>
            <key>yy_vampireking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,178},{65,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,107}}</string>
                <key>sourceSize</key>
                <string>{65,107}</string>
            </dict>
            <key>yy_wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,92},{101,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolf_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{103,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{103,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolf_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,285},{103,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{103,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolf_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{101,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolfking.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,109},{94,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,101}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>yy_wolfking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,245},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{97,103}</string>
            </dict>
            <key>yy_wolfking2_linght.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,280},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{97,103}</string>
            </dict>
            <key>yy_wolfking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,212},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>yy_zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,489},{58,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombie_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,435},{52,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{52,85}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>yy_zombie_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{52,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{52,85}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_zombie_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,455},{54,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{54,81}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombieking.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,105},{71,107}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{71,107}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_zombieking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,269},{67,103}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{67,103}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinying.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eaa7cb391a6dec647825dc5069c8986:1/1$</string>
            <key>textureFileName</key>
            <string>yinying.png</string>
        </dict>
    </dict>
</plist>
