<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yy_Muroidea.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,648},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{74,83}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>yy_Muroidea_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,569},{78,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{78,83}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_Muroidea_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,412},{78,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{78,83}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_Muroidea_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,595},{74,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{74,83}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_Pumpkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,526},{67,85}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{67,85}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_Pumpkin_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,347},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>yy_Pumpkin_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,282},{63,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,82}}</string>
                <key>sourceSize</key>
                <string>{63,82}</string>
            </dict>
            <key>yy_Pumpkin_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,566},{67,85}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{67,85}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,447},{93,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,58}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>yy_bat_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,457},{92,57}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{92,57}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>yy_bee.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,452},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>yy_bee_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,492},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>yy_blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,725},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,762},{78,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{78,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,777},{74,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,77}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,635},{68,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{68,73}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_butcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>yy_butcher_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>yy_demon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,282},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>yy_demon_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,272},{105,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,89}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>yy_demon_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{105,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,89}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>yy_demon_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>yy_scarecrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{60,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,79}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scarecrow_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{62,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{62,87}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scarecrow_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,516},{62,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{62,87}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scarecrow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,780},{60,79}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{60,79}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_scareking.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,89},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,110}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>yy_scareking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{88,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,110}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>yy_skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,580},{66,85}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skull_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,703},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skull_a_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,710},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skull_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,507},{60,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,89}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>yy_skull_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{60,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{60,89}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_skull_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{62,83}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{62,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skull_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,695},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skull_shield_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>yy_skullking.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{85,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{85,111}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_skullking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,92},{83,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{83,109}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_snowman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>yy_snowman_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,363},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>yy_vampire.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,671},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{52,83}</string>
            </dict>
            <key>yy_vampire_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,649},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{52,83}</string>
            </dict>
            <key>yy_wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,179},{101,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolf_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{103,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{103,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolf_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,177},{103,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{103,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolf_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,96},{101,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{101,107}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>yy_wolfking.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,351},{94,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,101}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>yy_wolfking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,356},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{94,100}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>yy_zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,635},{58,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombie_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{52,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{52,85}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>yy_zombie_armor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{52,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{52,85}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>yy_zombie_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,724},{54,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{54,81}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombieking.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,199},{71,107}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{71,107}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_zombieking_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,282},{67,103}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{67,103}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinying.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03438d81c79479d283ba5614b84228e3:1/1$</string>
            <key>textureFileName</key>
            <string>yinying.png</string>
        </dict>
    </dict>
</plist>
