<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yy_Muroidea.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_Muroidea_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,115},{93,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,58}}</string>
                <key>sourceSize</key>
                <string>{105,66}</string>
            </dict>
            <key>yy_blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_blind_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,62},{78,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{78,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_scarecrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_scarecrow_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_scareking.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{66,85}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skull_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{66,85}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{66,85}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_skullking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{85,111}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>yy_wolfking.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,142},{72,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{72,79}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombie.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{58,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombie_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{58,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>yy_zombieking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{71,107}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{71,107}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinying.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fcaf5e78de388a89feb23a691b3708f:1/1$</string>
            <key>textureFileName</key>
            <string>yinying.png</string>
        </dict>
    </dict>
</plist>
