<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{76,132}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{76,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,98},{78,130}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{78,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{78,130}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{78,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,178},{76,128}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{76,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,176},{78,128}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,35},{78,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,88},{84,120}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,36},{84,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{110,98}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,52},{110,98}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,84},{114,84}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{114,84}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{118,80}}</string>
                <key>offset</key>
                <string>{16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,74},{118,80}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,174},{128,80}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,73},{128,80}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{136,80}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{136,80}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{134,80}}</string>
                <key>offset</key>
                <string>{13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{134,80}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{132,84}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,85},{132,84}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,178},{72,130}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,34},{72,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{94,126}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,38},{94,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,174},{78,126}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,38},{78,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,174},{78,124}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{78,124}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,84},{88,126}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{88,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,84},{90,126}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{90,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{94,128}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{94,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,128}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{100,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{92,132}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{92,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie3.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a18871f86ffbcfac800d6ba72be613:1/1$</string>
            <key>textureFileName</key>
            <string>zombie3.png</string>
        </dict>
    </dict>
</plist>
