<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{160,208}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{160,208}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{150,208}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,16},{150,208}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,210}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{148,210}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{148,208}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{148,208}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>scareking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{156,208}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{156,208}}</string>
                <key>sourceSize</key>
                <string>{310,250}</string>
            </dict>
            <key>zombieking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{104,194}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,24},{104,194}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,584},{110,190}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{110,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{108,192}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,26},{108,192}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,776},{106,190}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,27},{106,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,386},{108,190}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{108,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,844},{126,172}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{126,172}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,306},{158,142}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{158,142}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{168,116}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,94},{168,116}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{178,110}}</string>
                <key>offset</key>
                <string>{24,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,94},{178,110}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,650},{186,112}}</string>
                <key>offset</key>
                <string>{21,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,93},{186,112}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,194},{190,122}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,94},{190,122}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,416},{196,116}}</string>
                <key>offset</key>
                <string>{20,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,101},{196,116}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,206},{194,118}}</string>
                <key>offset</key>
                <string>{21,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,108},{194,118}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,120},{142,184}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{142,184}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,392},{130,190}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{130,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,840},{118,182}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{118,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,466},{114,182}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,36},{114,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,584},{112,190}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,27},{112,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,402},{102,194}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,23},{102,194}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,194},{106,190}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,27},{106,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,622},{126,198}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{126,198}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,212},{128,202}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,19},{128,202}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,418},{128,202}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,21},{128,202}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{108,202}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,20},{108,202}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,424},{104,204}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,18},{104,204}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,212},{102,204}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,17},{102,204}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,622},{106,202}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,17},{106,202}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,634},{108,204}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,14},{108,204}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,826},{130,196}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,22},{130,196}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{158,190}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{158,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,810},{136,190}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{136,190}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,198},{124,192}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{124,192}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,614},{124,194}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{124,194}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,822},{126,196}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{126,196}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e6c2fc575b24c8abe2988491b5c1c87:1/1$</string>
            <key>textureFileName</key>
            <string>zombieking1.png</string>
        </dict>
    </dict>
</plist>
