<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,160}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{106,160}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,164},{90,156}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{90,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{94,154}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{94,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,156},{92,152}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{92,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,312},{92,152}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{92,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{92,152}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{92,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{100,142}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{100,142}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,146},{130,116}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,51},{130,116}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{134,100}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,77},{134,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,278},{140,94}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,78},{140,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,158},{152,94}}</string>
                <key>offset</key>
                <string>{16,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,77},{152,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,96}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,78},{160,96}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{158,94}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,84},{158,94}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,326},{156,100}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,90},{156,100}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zomBieDown.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a6b21c0af21b48608fca5056b103de:1/1$</string>
            <key>textureFileName</key>
            <string>zomBieDown.png</string>
        </dict>
    </dict>
</plist>
