<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,266},{164,250}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,44},{164,250}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,810},{164,250}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,44},{164,250}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,264},{162,250}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,44},{162,250}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,516},{158,250}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,44},{158,250}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,262}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{154,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{140,266}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,27},{140,266}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,534},{148,262}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,32},{148,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,844},{172,270}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,25},{172,270}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{176,276}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,23},{176,276}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{178,278}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,24},{178,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,278}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,23},{148,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,282},{140,278}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,21},{140,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,564},{140,278}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,20},{140,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{144,278}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,19},{144,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,280}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,15},{148,280}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{180,270}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,25},{180,270}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{216,260}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{216,260}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,270},{188,262}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{188,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,544},{170,264}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{170,264}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,274},{170,268}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{170,268}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,562},{170,268}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,27},{170,268}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd756d31bfac7b1e049cf1871746ddb:1/1$</string>
            <key>textureFileName</key>
            <string>zombieking1.png</string>
        </dict>
    </dict>
</plist>
