<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,160}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{106,160}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{104,158}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,26},{104,158}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{94,156}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{94,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,98},{112,154}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,29},{112,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,212},{132,148}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,35},{132,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,108},{120,152}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{120,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{144,148}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{144,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,346},{146,132}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,51},{146,132}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{146,134}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{146,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{138,134}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,49},{138,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,356},{140,136}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{140,136}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,230},{124,148}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{124,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zomBieAttack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5db47c32ccf38fb9feb31f51079222d:1/1$</string>
            <key>textureFileName</key>
            <string>zomBieAttack.png</string>
        </dict>
    </dict>
</plist>
