<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_hurt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,160}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{106,160}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{86,154}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,30},{86,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,310},{110,148}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{110,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{92,148}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,36},{92,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,154},{92,148}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{92,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,310},{102,148}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{102,148}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{106,150}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{106,150}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{110,152}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{110,152}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,158},{116,150}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{116,150}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>zombie_hurt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{108,156}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{108,156}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zomBieHurt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7115a6e2888206ba653fcdb53d30fe05:1/1$</string>
            <key>textureFileName</key>
            <string>zomBieHurt.png</string>
        </dict>
    </dict>
</plist>
