<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,196}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,22},{122,196}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{112,194}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{112,194}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{130,192}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,26},{130,192}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{162,186}}</string>
                <key>offset</key>
                <string>{28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,32},{162,186}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,198},{172,192}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{172,192}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{194,182}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{194,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{176,166}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,52},{176,166}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{174,166}}</string>
                <key>offset</key>
                <string>{-27,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{174,166}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,340},{166,168}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{166,168}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,170},{168,168}}</string>
                <key>offset</key>
                <string>{-19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{168,168}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,190},{150,182}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{150,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,392},{112,192}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{112,192}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{140,182}}</string>
                <key>offset</key>
                <string>{46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,36},{140,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,186},{120,182}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,36},{120,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{114,182}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,36},{114,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,374},{120,182}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,35},{120,182}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,386},{124,188}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{124,188}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
            <key>zombieking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,196},{132,188}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{132,188}}</string>
                <key>sourceSize</key>
                <string>{240,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieking2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b177577e07b7367e3d891c0ccc45050d:1/1$</string>
            <key>textureFileName</key>
            <string>zombieking2.png</string>
        </dict>
    </dict>
</plist>
