<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,362},{118,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{118,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{118,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{118,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{140,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{140,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,205},{128,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{128,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,381},{116,92}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{116,92}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{106,104}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,108},{148,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{148,82}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,428},{112,98}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{112,98}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,448},{90,110}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,28},{90,110}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,328},{114,98}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{114,98}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{142,82}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{142,82}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,475},{106,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{106,90}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,278},{120,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{120,82}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_bullet0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,57},{162,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bat_bullet0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{194,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>bat_bullet0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{197,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,53}}</string>
                <key>sourceSize</key>
                <string>{199,53}</string>
            </dict>
            <key>bat_bullet0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,29}}</string>
                <key>sourceSize</key>
                <string>{202,29}</string>
            </dict>
            <key>bat_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,119},{140,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{140,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,295},{118,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{118,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{88,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,21},{88,98}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{116,84}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{116,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,192},{134,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,27},{134,82}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{120,88}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{120,88}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bat_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,192},{138,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{138,84}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06af86840be54738486d0c641a215227:1/1$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
