<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blind_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,108},{98,102}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,46},{98,102}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,122},{104,102}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,45},{104,102}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,228},{104,98}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,50},{104,98}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,364},{104,100}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,48},{104,100}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{100,104}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{100,104}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,248},{110,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{110,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{110,118}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{110,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{110,120}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{110,120}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,122}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{112,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,126},{104,120}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{104,120}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{92,122}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{108,116}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{108,116}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,372},{110,114}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,35},{110,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blind2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32275dd1d405f828a691ce7d9834f7ef:1/1$</string>
            <key>textureFileName</key>
            <string>blind2.png</string>
        </dict>
    </dict>
</plist>
