<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blind_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,126},{102,118}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{102,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{88,112}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,370},{94,114}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{94,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,118},{100,112}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{100,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,246},{108,112}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{108,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,116},{108,110}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{108,110}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{106,110}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{106,110}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,360},{104,110}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{104,110}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{110,114}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{110,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,122}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{106,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{96,120}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{96,120}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{100,122}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{100,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,250},{104,118}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{104,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{106,118}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{106,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blind1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa550fb58fbee5faecb203cb48eae4f:1/1$</string>
            <key>textureFileName</key>
            <string>blind1.png</string>
        </dict>
    </dict>
</plist>
