<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blind_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,514},{88,112}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,424},{88,112}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,208},{102,118}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,28},{102,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{88,112}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,320},{94,114}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{94,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,428},{100,112}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{100,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,416},{108,112}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{108,112}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,526},{108,110}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,36},{108,110}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,530},{106,110}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{106,110}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{104,110}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{104,110}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,312},{110,114}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{110,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{106,122}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{106,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,110},{96,120}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,26},{96,120}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{100,122}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{100,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{104,118}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{104,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,208},{106,118}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{106,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,708},{98,102}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,46},{98,102}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,604},{104,102}}</string>
                <key>offset</key>
                <string>{32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,45},{104,102}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{104,98}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{104,98}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,636},{104,100}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{104,100}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,638},{100,104}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,44},{100,104}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{110,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,37},{110,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{110,118}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{110,118}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,96},{110,120}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{110,120}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,122}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{112,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,104},{104,120}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{104,120}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{92,122}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,122}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,210},{108,116}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{108,116}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
            <key>blind_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,316},{110,114}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,35},{110,114}}</string>
                <key>sourceSize</key>
                <string>{170,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blind.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b5d09f587b94f49c976c458b25755be:1/1$</string>
            <key>textureFileName</key>
            <string>blind.png</string>
        </dict>
    </dict>
</plist>
