<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,306},{44,10}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,78},{44,10}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,228},{50,34}}</string>
                <key>offset</key>
                <string>{-64,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,54},{50,34}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{50,64}}</string>
                <key>offset</key>
                <string>{-64,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{50,64}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,306},{90,82}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,82}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{142,84}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,84}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{154,70}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{154,70}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,158},{146,68}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{146,68}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{178,68}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{178,68}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>building40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{178,76}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{178,76}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:318e74ce2ba6d0d18c05d3b1df6da9de:1/1$</string>
            <key>textureFileName</key>
            <string>building4.png</string>
        </dict>
    </dict>
</plist>
