<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,208},{122,178}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{122,178}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,628},{114,180}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{114,180}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{134,200}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{134,200}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{128,204}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{128,204}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,216}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{126,216}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,204}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{122,204}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{120,184}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,45},{120,184}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,388},{114,182}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,45},{114,182}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{118,186}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{118,186}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
            <key>burn0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,814},{118,176}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{118,176}}</string>
                <key>sourceSize</key>
                <string>{180,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>burn.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e752f2912829582c9150e7c87a0069c:1/1$</string>
            <key>textureFileName</key>
            <string>burn.png</string>
        </dict>
    </dict>
</plist>
