<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,280},{346,252}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,145},{346,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,618},{306,314}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,83},{306,314}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,568},{288,352}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,44},{288,352}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,280},{238,336}}</string>
                <key>offset</key>
                <string>{106,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,60},{238,336}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{322,366}}</string>
                <key>offset</key>
                <string>{38,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,29},{322,366}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{364,306}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,88},{364,306}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,240}}</string>
                <key>offset</key>
                <string>{-42,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,153},{450,240}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{406,276}}</string>
                <key>offset</key>
                <string>{-32,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,140},{406,276}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40657a59b33b5112094afc2f0141dc51:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking1.png</string>
        </dict>
    </dict>
</plist>
