<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,260}}</string>
                <key>offset</key>
                <string>{-41,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,142},{406,260}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{404,258}}</string>
                <key>offset</key>
                <string>{-43,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,144},{404,258}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{366,266}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,136},{366,266}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,334},{280,264}}</string>
                <key>offset</key>
                <string>{15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,148},{280,264}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{328,230}}</string>
                <key>offset</key>
                <string>{-3,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,196},{328,230}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,560},{318,232}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,182},{318,232}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,616},{310,236}}</string>
                <key>offset</key>
                <string>{11,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,170},{310,236}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{330,246}}</string>
                <key>offset</key>
                <string>{-57,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,156},{330,246}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,280},{344,278}}</string>
                <key>offset</key>
                <string>{-22,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,124},{344,278}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{350,276}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{350,276}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b726adcaba4d561525706b168217d62:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking6.png</string>
        </dict>
    </dict>
</plist>
