<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,272}}</string>
                <key>offset</key>
                <string>{-18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,130},{354,272}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{334,272}}</string>
                <key>offset</key>
                <string>{-29,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{334,272}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{308,274}}</string>
                <key>offset</key>
                <string>{-29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,128},{308,274}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,508},{268,278}}</string>
                <key>offset</key>
                <string>{-14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,124},{268,278}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,276},{230,282}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,120},{230,282}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,278},{212,280}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,122},{212,280}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{194,276}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,126},{194,276}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,778},{192,274}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,128},{192,274}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,778},{194,274}}</string>
                <key>offset</key>
                <string>{12,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,128},{194,274}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{214,274}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,128},{214,274}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,492},{274,278}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,124},{274,278}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{332,282}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,120},{332,282}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c317d085e6f77953912c7de5a9c1547:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking3.png</string>
        </dict>
    </dict>
</plist>
