<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,264}}</string>
                <key>offset</key>
                <string>{-31,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,148},{406,264}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{406,250}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,157},{406,250}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{404,244}}</string>
                <key>offset</key>
                <string>{-34,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,160},{404,244}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,410},{366,242}}</string>
                <key>offset</key>
                <string>{-33,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,152},{366,242}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,654},{280,264}}</string>
                <key>offset</key>
                <string>{15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,148},{280,264}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{328,230}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,195},{328,230}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,762},{318,232}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,182},{318,232}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{310,236}}</string>
                <key>offset</key>
                <string>{11,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,170},{310,236}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,410},{350,252}}</string>
                <key>offset</key>
                <string>{-22,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,127},{350,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4bc9b7a30709b9af20ac48d443cf985:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking6.png</string>
        </dict>
    </dict>
</plist>
