<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcher_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,160},{198,156}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{198,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,316},{196,156}}</string>
                <key>offset</key>
                <string>{33,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{196,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,318},{190,156}}</string>
                <key>offset</key>
                <string>{29,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{190,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,474},{182,156}}</string>
                <key>offset</key>
                <string>{25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{182,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,810},{176,154}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,67},{176,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,632},{176,148}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,73},{176,148}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,816},{178,140}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,81},{178,140}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,310},{194,136}}</string>
                <key>offset</key>
                <string>{-21,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,85},{194,136}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,448},{190,142}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,79},{190,142}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{200,156}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,65},{200,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,158},{198,156}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{198,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,318},{192,156}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{192,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{182,156}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{182,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,160},{194,156}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{194,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,158},{198,156}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{198,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,632},{176,154}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,67},{176,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{178,140}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,81},{178,140}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{182,144}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,77},{182,144}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{188,148}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,73},{188,148}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,154}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,66},{214,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{196,154}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,66},{196,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,152},{182,156}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{182,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,632},{160,156}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,64},{160,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,476},{136,158}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,61},{136,158}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,614},{126,156}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,63},{126,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,614},{118,156}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,64},{118,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,476},{118,154}}</string>
                <key>offset</key>
                <string>{31,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,66},{118,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,772},{118,156}}</string>
                <key>offset</key>
                <string>{24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,66},{118,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,794},{128,158}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{128,158}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,810},{162,158}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,63},{162,158}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{198,158}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{198,158}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{202,156}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,63},{202,156}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>butcher_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{208,154}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,65},{208,154}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcher1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c985557d701294fedfba0ae0ce17e3:1/1$</string>
            <key>textureFileName</key>
            <string>butcher1.png</string>
        </dict>
    </dict>
</plist>
