<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{326,252}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,129},{326,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,274},{326,252}}</string>
                <key>offset</key>
                <string>{23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,129},{326,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,274}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,128},{338,274}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{326,274}}</string>
                <key>offset</key>
                <string>{23,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,128},{326,274}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{312,270}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,132},{312,270}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,278},{298,270}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,132},{298,270}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{286,272}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,130},{286,272}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,550},{286,256}}</string>
                <key>offset</key>
                <string>{-19,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,146},{286,256}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,528},{300,250}}</string>
                <key>offset</key>
                <string>{-42,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,152},{300,250}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de3f12580231dd926ce5f22a27379d8:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking4.png</string>
        </dict>
    </dict>
</plist>
