<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butcherking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{346,252}}</string>
                <key>offset</key>
                <string>{-27,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,129},{346,252}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,524},{330,256}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,125},{330,256}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{336,258}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,123},{336,258}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,260}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,121},{344,260}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{318,268}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,107},{318,268}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,340},{292,294}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,78},{292,294}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,256},{266,324}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,49},{266,324}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,782},{236,326}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,53},{236,326}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,634},{260,318}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,87},{260,318}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
            <key>butcherking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{258,302}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,104},{258,302}}</string>
                <key>sourceSize</key>
                <string>{550,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>butcherking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa61cca6976287ceb0b4aaddf3b7f5d:1/1$</string>
            <key>textureFileName</key>
            <string>butcherking2.png</string>
        </dict>
    </dict>
</plist>
