<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stones0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,544},{362,292}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{362,292}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{408,268}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{408,268}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,272},{414,270}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{414,270}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{336,256}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,44},{336,256}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{340,272}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{340,272}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,582},{316,292}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,8},{316,292}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{328,268}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,32},{328,268}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,272},{308,270}}</string>
                <key>offset</key>
                <string>{31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,30},{308,270}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
            <key>stones0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,256}}</string>
                <key>offset</key>
                <string>{29,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,44},{244,256}}</string>
                <key>sourceSize</key>
                <string>{430,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Daoju5_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a85c6339ee2c1220606bcd94f7cafe8:1/1$</string>
            <key>textureFileName</key>
            <string>Daoju5_2.png</string>
        </dict>
    </dict>
</plist>
