<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju80001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,412},{80,58}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{80,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,346},{78,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{78,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{40,82}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{40,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,410},{60,78}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,242},{82,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{82,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,288},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{80,56}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,190},{50,82}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{50,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju80008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,412},{56,80}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{56,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>daoju8_broken0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,114},{86,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,41},{86,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daoju8_broken0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{110,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{110,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daoju8_broken0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{138,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{138,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daoju8_broken0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{144,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{144,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>daoju8_broken0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{148,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daoju8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0d0cb96e652992dbb1b929f03a4efa:1/1$</string>
            <key>textureFileName</key>
            <string>daoju8.png</string>
        </dict>
    </dict>
</plist>
