<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoju50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{196,258}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,24},{196,258}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>daoju50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,640},{180,230}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,51},{180,230}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>daoju50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,452},{186,230}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,50},{186,230}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>daoju50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,494},{190,216}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,65},{190,216}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>daoju50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,692},{188,232}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,45},{188,232}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{292,258}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{292,258}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{302,230}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,54},{302,230}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,262},{302,230}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,51},{302,230}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,234},{310,216}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{310,216}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{320,232}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{320,232}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{324,258}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{324,258}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,230}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,51},{334,230}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{316,230}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{316,230}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>stones0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,700},{268,216}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,65},{268,216}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Daoju5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed6ff5279957d95de875e4ced4eb4dce:1/1$</string>
            <key>textureFileName</key>
            <string>Daoju5.png</string>
        </dict>
    </dict>
</plist>
