<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demonking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,298}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{410,298}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,740},{254,218}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,133},{254,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{208,216}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,129},{208,216}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,280},{394,278}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,68},{394,278}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,560},{340,286}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{340,286}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{410,276}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,67},{410,276}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{320,216}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,143},{320,216}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{266,218}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,133},{266,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,536},{210,202}}</string>
                <key>offset</key>
                <string>{-24,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,141},{210,202}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,280},{254,210}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,133},{254,210}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,740},{206,218}}</string>
                <key>offset</key>
                <string>{-29,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,140},{206,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demonking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72e0a34767c705e09d11830847e51dd5:1/1$</string>
            <key>textureFileName</key>
            <string>demonking1.png</string>
        </dict>
    </dict>
</plist>
