<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_bullet0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{162,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bat_bullet0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{194,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>bat_bullet0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{197,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,53}}</string>
                <key>sourceSize</key>
                <string>{199,53}</string>
            </dict>
            <key>bat_bullet0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,29}}</string>
                <key>sourceSize</key>
                <string>{202,29}</string>
            </dict>
            <key>demon_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,218},{168,118}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{168,118}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,179},{168,118}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{168,118}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{102,92}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{102,92}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,530},{86,90}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,58},{86,90}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,299},{162,114}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{162,114}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{138,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{138,116}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{168,112}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{168,112}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{132,90}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,63},{132,90}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,511},{108,90}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,60},{108,90}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,603},{86,86}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,60},{86,86}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{102,88}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{102,88}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,415},{138,94}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,59},{138,94}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{168,118}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{168,118}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,96},{140,120}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{140,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,57},{168,120}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{168,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,338},{138,94}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,59},{138,94}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,434},{108,94}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{108,94}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,434},{118,94}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,58},{118,94}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df6b0a69802aaf661e570992efece8dd:1/1$</string>
            <key>textureFileName</key>
            <string>demon.png</string>
        </dict>
    </dict>
</plist>
