<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demon_armor_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{62,60}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,190},{62,60}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{64,58}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,38},{64,58}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,58}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{64,58}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,58}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{64,58}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,58}}</string>
                <key>offset</key>
                <string>{-22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{64,58}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,62},{62,60}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{62,60}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{62,60}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{62,60}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,62},{62,60}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{62,60}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{62,60}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{62,60}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,62},{62,60}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>demon_armor_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,60}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{62,60}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demonArmor.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:848952671669c458b86e112b530931d9:1/1$</string>
            <key>textureFileName</key>
            <string>demonArmor.png</string>
        </dict>
    </dict>
</plist>
