<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demonking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,298}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,64},{410,298}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,558},{338,218}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,140},{338,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,736},{252,218}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,133},{252,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{208,216}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,129},{208,216}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,278},{394,278}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,68},{394,278}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{340,286}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{340,286}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{410,274}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,69},{410,274}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{320,216}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,143},{320,216}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,736},{266,218}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,133},{266,218}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,532},{210,202}}</string>
                <key>offset</key>
                <string>{-24,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,141},{210,202}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>demonking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,278},{252,210}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,133},{252,210}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demonking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97505f3231eb3c6ad25ae4f87ef9429c:1/1$</string>
            <key>textureFileName</key>
            <string>demonking1.png</string>
        </dict>
    </dict>
</plist>
