<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{196,212}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{196,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{218,240}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{218,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{242,284}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{242,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,288},{266,258}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{266,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{256,280}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{256,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,284}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{266,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,556},{180,206}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{180,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,178},{176,174}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,49},{176,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,856},{172,160}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,61},{172,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{180,166}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,56},{180,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{174,178}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,40},{174,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,748},{178,186}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{178,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,764},{188,198}}</string>
                <key>offset</key>
                <string>{6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,21},{188,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>explosion0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,556},{176,190}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,28},{176,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36f5dbd47a8478d60801bd201ec85319:1/1$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
