<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>throw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,334},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{98,164}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{98,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{102,164}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{102,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,164}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{106,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,146},{84,142}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{84,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{104,138}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{104,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{106,136}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{106,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{98,142}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{98,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>throw0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,168},{88,146}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{88,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HumanThrow.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93ba36b0c297dc9161563868f84428b2:1/1$</string>
            <key>textureFileName</key>
            <string>HumanThrow.png</string>
        </dict>
    </dict>
</plist>
