<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Muroidea_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,124}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{106,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{90,118}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{90,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{96,118}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,52},{96,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{102,120}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,51},{102,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{110,122}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,51},{110,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{120,116}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{120,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{122,120}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{122,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{114,120}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,53},{114,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Muroidea_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{116,126}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{116,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Muroidea4.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d772478479d6f5b8c4f00d8a71bd7a:1/1$</string>
            <key>textureFileName</key>
            <string>Muroidea4.png</string>
        </dict>
    </dict>
</plist>
