<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pumpkin_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{88,146}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,22},{88,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,244},{100,146}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,22},{100,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,392},{106,144}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,24},{106,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{114,144}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,244},{120,146}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{120,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{122,148}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{122,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,146}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{162,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,146}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{160,146}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,126},{116,148}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,20},{116,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{122,148}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{122,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>Pumpkin_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{102,148}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{102,148}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pumpkin2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d3f9bd7bdd4072a5479a06baf6cfab6:1/1$</string>
            <key>textureFileName</key>
            <string>Pumpkin2.png</string>
        </dict>
    </dict>
</plist>
