<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BulletModelId50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{79,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,22}}</string>
                <key>sourceSize</key>
                <string>{79,22}</string>
            </dict>
            <key>BulletModelId50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,982},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,32}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>BulletModelId50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,982},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>bullet_qiang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1000},{67,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,5}}</string>
                <key>sourceSize</key>
                <string>{67,5}</string>
            </dict>
            <key>reload_qiang90001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{128,164}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{128,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{126,164}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{126,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,668},{98,164}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{98,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,502},{102,164}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{102,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{106,164}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{106,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{110,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{110,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{106,164}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{106,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{104,164}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{104,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,834},{102,164}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{102,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,336},{100,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{100,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,502},{96,164}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90012.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,668},{92,164}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{92,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang90013.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,168},{92,164}}</string>
                <key>offset</key>
                <string>{-30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{92,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,334},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,332},{116,160}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{116,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90003.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,656},{114,158}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{114,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,822},{114,158}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{114,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,494},{110,160}}</string>
                <key>offset</key>
                <string>{-32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{110,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{112,160}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{112,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,498},{116,160}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{116,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,166},{112,160}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{112,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,660},{110,160}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{110,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,834},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang90011.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,834},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{92,162}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{92,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90003.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{90,160}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{90,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,164},{92,160}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{92,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90005.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,328},{92,160}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{92,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,168},{92,162}}</string>
                <key>offset</key>
                <string>{-29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{92,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,334},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,166}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{96,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,668},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang90010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,168},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a0030414488e3195128d0dfe6b1a19:1/1$</string>
            <key>textureFileName</key>
            <string>qiang9.png</string>
        </dict>
    </dict>
</plist>
