<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{165,119}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{165,119}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>bullet_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,412},{163,119}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{163,119}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>bullet_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{167,113}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{167,113}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>bullet_qiang120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,113}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{171,113}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>bullet_qiang120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,507},{159,115}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{159,115}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>bullet_qiang120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{159,111}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{159,111}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>reload_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,337},{90,164}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{90,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,116},{100,164}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{100,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{112,164}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{112,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{130,164}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,117},{130,164}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{130,164}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,100},{130,164}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,346},{128,162}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,379},{126,162}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{126,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,249},{128,162}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120011.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,123},{116,164}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{116,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120012.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,232},{112,164}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{112,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120013.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,330},{94,164}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{130,162}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,533},{130,162}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,426},{130,162}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,316},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,476},{94,162}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{94,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,429},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,232},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,218},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{96,166}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{96,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,134},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,241},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e49b52cbc9ae873ce4b8ed25cdf5a7a1:1/1$</string>
            <key>textureFileName</key>
            <string>qiang12.png</string>
        </dict>
    </dict>
</plist>
