<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_qiang80001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{122,164}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{122,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,504},{112,162}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{112,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,168}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{102,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{116,162}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{116,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,828},{138,160}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{138,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,668},{160,158}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{160,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,328},{158,158}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{158,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,164},{156,158}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{156,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80009.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{154,158}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{154,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,504},{154,160}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{154,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,830},{152,160}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{152,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80012.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,666},{142,160}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{142,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>attack_qiang80013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,838},{130,162}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{124,164}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{124,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,168},{122,162}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{122,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,328},{122,160}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{122,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{124,160}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{124,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{122,160}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{122,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,340},{124,162}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{124,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{124,164}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{124,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{126,166}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{126,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{126,164}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{126,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang80010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{124,164}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0a1653af059ce70c497217c9d07430:1/1$</string>
            <key>textureFileName</key>
            <string>qiang8.png</string>
        </dict>
    </dict>
</plist>
