<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{372,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{372,74}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>bullet_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{372,74}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>bullet_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{372,74}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>bullet_qiang120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,152},{372,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{372,72}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>bullet_qiang120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{372,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{372,68}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>bullet_qiang120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,78},{372,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{372,72}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>reload_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{90,164}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{90,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{100,164}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{100,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,344},{112,164}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{112,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,226},{130,164}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,224},{130,164}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{130,164}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,100},{130,164}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{130,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{128,162}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,458},{126,162}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{126,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,488},{128,162}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{128,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120011.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,226},{116,164}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{116,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120012.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,232},{112,164}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{112,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>reload_qiang120013.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,528},{94,164}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,358},{130,162}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{130,162}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shoot_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,356},{130,162}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{130,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,444},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,588},{94,162}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{94,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,586},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,540},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,490},{96,162}}</string>
                <key>offset</key>
                <string>{-32,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{96,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,346},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,334},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{96,166}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{96,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,168},{96,164}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{96,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>wait_qiang120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,432},{94,164}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{94,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad4d4e8739dad670e9014a0e6fa413b6:1/1$</string>
            <key>textureFileName</key>
            <string>qiang12.png</string>
        </dict>
    </dict>
</plist>
