<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,306}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,33},{228,306}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{228,300}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{228,300}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,300},{228,294}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,45},{228,294}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,452},{224,288}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,51},{224,288}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,612},{226,286}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,53},{226,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,678},{228,286}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,53},{228,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,678},{228,286}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,53},{228,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{230,286}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{230,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,226},{224,288}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,51},{224,288}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,290},{224,292}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{224,292}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{222,294}}</string>
                <key>offset</key>
                <string>{-34,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,45},{222,294}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,296}}</string>
                <key>offset</key>
                <string>{-41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{228,296}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,300}}</string>
                <key>offset</key>
                <string>{-35,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,39},{224,300}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32f31aa0421da35ab58b6039f4c3075:1/1$</string>
            <key>textureFileName</key>
            <string>scareking1.png</string>
        </dict>
    </dict>
</plist>
