<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,296}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,33},{228,296}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{228,290}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{228,290}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,284}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,45},{226,284}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{224,278}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,51},{224,278}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,690},{226,276}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,53},{226,276}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,670},{228,276}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,53},{228,276}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,460},{228,276}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,53},{228,276}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,228},{230,276}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,53},{230,276}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{224,278}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,51},{224,278}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,452},{216,282}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,47},{216,282}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,230},{220,284}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,45},{220,284}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,592},{230,286}}</string>
                <key>offset</key>
                <string>{-40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{230,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{222,290}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,39},{222,290}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7a15a2a82a1920fcb72192f971a3e9f:1/1$</string>
            <key>textureFileName</key>
            <string>scareking1.png</string>
        </dict>
    </dict>
</plist>
