<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,304},{224,294}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,35},{224,294}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{200,292}}</string>
                <key>offset</key>
                <string>{54,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,37},{200,292}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,204},{206,286}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,43},{206,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,412},{206,280}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,49},{206,280}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,620},{200,276}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,53},{200,276}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,620},{200,280}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,49},{200,280}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,600},{200,286}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,43},{200,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{200,290}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,39},{200,290}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,608},{204,296}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,33},{204,296}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{216,300}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,29},{216,300}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,302}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,27},{202,302}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,300}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,29},{200,300}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{210,300}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,29},{210,300}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dda66fc92fce21f904a913f3f45a594:1/1$</string>
            <key>textureFileName</key>
            <string>scareking4.png</string>
        </dict>
    </dict>
</plist>
