<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{206,268}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,44},{206,268}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{206,268}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,44},{206,268}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,310}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,29},{222,310}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{234,296}}</string>
                <key>offset</key>
                <string>{51,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,43},{234,296}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,618},{230,292}}</string>
                <key>offset</key>
                <string>{33,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,47},{230,292}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,300},{222,286}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,55},{222,286}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{200,308}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,31},{200,308}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,314},{216,302}}</string>
                <key>offset</key>
                <string>{29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,37},{216,302}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{220,304}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,35},{220,304}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6517554e457e9c47649284f527d74c5:1/1$</string>
            <key>textureFileName</key>
            <string>scareking5.png</string>
        </dict>
    </dict>
</plist>
