<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_summon0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,310}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,19},{192,310}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,338},{170,318}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,11},{170,318}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{166,324}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,5},{166,324}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{166,328}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,1},{166,328}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,658},{166,322}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,7},{166,322}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,658},{166,316}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,13},{166,316}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,338},{168,310}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,19},{168,310}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,170},{166,314}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,15},{166,314}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_summon0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{166,314}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,15},{166,314}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d7cf02c2d9112cbf63b02c2a876f5d3:1/1$</string>
            <key>textureFileName</key>
            <string>scareking6.png</string>
        </dict>
    </dict>
</plist>
