<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scareking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,270},{230,262}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,48},{230,262}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,280}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{228,280}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{228,274}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{228,274}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,222},{226,266}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,46},{226,266}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,798},{224,260}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,52},{224,260}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,534},{226,262}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,52},{226,262}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{228,264}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,52},{228,264}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,266}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,52},{228,266}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{230,266}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{230,266}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,268},{224,266}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,52},{224,266}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,536},{216,268}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{216,268}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,450},{208,270}}</string>
                <key>offset</key>
                <string>{-42,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,45},{208,270}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,660},{202,270}}</string>
                <key>offset</key>
                <string>{-53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{202,270}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,754},{208,274}}</string>
                <key>offset</key>
                <string>{-43,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,39},{208,274}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
            <key>scareking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{218,276}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,36},{218,276}}</string>
                <key>sourceSize</key>
                <string>{420,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scareking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf8de2536cbedabe739cc7bed92d971:1/1$</string>
            <key>textureFileName</key>
            <string>scareking1.png</string>
        </dict>
    </dict>
</plist>
