<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarecrow_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,824},{90,134}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,48},{90,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,552},{90,134}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,48},{90,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{106,142}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,42},{106,142}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,300},{106,138}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{106,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,726},{106,136}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{106,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,416},{106,134}}</string>
                <key>offset</key>
                <string>{-18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,48},{106,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,280},{108,134}}</string>
                <key>offset</key>
                <string>{-30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{108,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,864},{124,134}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{124,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,804},{140,128}}</string>
                <key>offset</key>
                <string>{-44,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,54},{140,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{138,128}}</string>
                <key>offset</key>
                <string>{-43,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,54},{138,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,160},{138,128}}</string>
                <key>offset</key>
                <string>{-43,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,54},{138,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,588},{136,128}}</string>
                <key>offset</key>
                <string>{-42,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,54},{136,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,440},{116,136}}</string>
                <key>offset</key>
                <string>{-35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{116,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,620},{108,138}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{108,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,282},{112,136}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{112,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,726},{116,134}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{116,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,524},{110,126}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{110,126}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,636},{108,116}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,66},{108,116}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,746},{112,108}}</string>
                <key>offset</key>
                <string>{20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{112,108}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,900},{118,102}}</string>
                <key>offset</key>
                <string>{23,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,69},{118,102}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,320},{124,84}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,89},{124,84}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,946},{134,70}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,100},{134,70}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{140,56}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,112},{140,56}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,660},{142,54}}</string>
                <key>offset</key>
                <string>{14,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,117},{142,54}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,330},{146,54}}</string>
                <key>offset</key>
                <string>{14,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,122},{146,54}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,160},{144,54}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,127},{144,54}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,760},{100,138}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,44},{100,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,588},{82,138}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,44},{82,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,688},{90,134}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,48},{90,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,210},{100,132}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,50},{100,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,420},{106,130}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,552},{106,130}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,420},{106,130}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{106,128}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,54},{106,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{106,134}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{106,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,306},{104,140}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{104,140}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,44},{102,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{106,136}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{106,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,862},{108,134}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{108,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,448},{106,138}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,686},{106,132}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,48},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,822},{106,132}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,49},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{102,134}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,51},{102,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,416},{104,134}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,47},{104,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,140},{106,134}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,47},{106,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{86,154}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{86,154}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{74,160}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,22},{74,160}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{62,166}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{62,166}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,170}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,12},{58,170}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,164}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,18},{58,164}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,168},{58,160}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,22},{58,160}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,504},{60,154}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,28},{60,154}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{62,156}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,26},{62,156}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_summon0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{68,156}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,26},{68,156}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,478},{106,140}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{106,140}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,142},{104,138}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{104,138}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,106},{102,132}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,50},{102,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,110},{100,128}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{100,128}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,420},{102,130}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,53},{102,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{102,132}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,52},{102,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,138},{102,134}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{102,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,276},{102,134}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{102,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,552},{104,134}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{104,134}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,552},{106,132}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,312},{106,130}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,53},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,212},{106,130}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,53},{106,130}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,688},{106,132}}</string>
                <key>offset</key>
                <string>{-30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{106,132}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>scarecrow_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,142},{106,136}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{106,136}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scarecrow1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:391af6c9d85a1865476fd892c2adde53:1/1$</string>
            <key>textureFileName</key>
            <string>scarecrow1.png</string>
        </dict>
    </dict>
</plist>
