<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,810},{204,246}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,61},{204,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,240},{220,246}}</string>
                <key>offset</key>
                <string>{-35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,61},{220,246}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{146,292}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,15},{146,292}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,558},{214,250}}</string>
                <key>offset</key>
                <string>{53,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,57},{214,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{212,292}}</string>
                <key>offset</key>
                <string>{46,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,14},{212,292}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{236,290}}</string>
                <key>offset</key>
                <string>{-36,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{236,290}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,262}}</string>
                <key>offset</key>
                <string>{-55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{268,262}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{272,244}}</string>
                <key>offset</key>
                <string>{-52,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,92},{272,244}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{266,236}}</string>
                <key>offset</key>
                <string>{-52,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,91},{266,236}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,266},{256,226}}</string>
                <key>offset</key>
                <string>{-50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,92},{256,226}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,248},{254,218}}</string>
                <key>offset</key>
                <string>{-52,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,91},{254,218}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,738},{226,230}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,76},{226,230}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{206,236}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{206,236}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,524},{174,244}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,58},{174,244}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,488},{172,230}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{172,230}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,504},{218,232}}</string>
                <key>offset</key>
                <string>{-29,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{218,232}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,770},{200,232}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{200,232}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9069e4b43e60b4aa351c1690bac4091f:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_1.png</string>
        </dict>
    </dict>
</plist>
