<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking_summon0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,654},{202,318}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,14},{202,318}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{204,324}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,8},{204,324}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,336},{210,328}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,4},{210,328}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,332}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{216,332}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{186,330}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,2},{186,330}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,668},{174,330}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,2},{174,330}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{174,330}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,2},{174,330}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,328},{174,324}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,8},{174,324}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{174,326}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,6},{174,326}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_summon0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,666},{180,324}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,8},{180,324}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dee2f6cbbd840d7dca67eee9baf459c:1/1$</string>
            <key>textureFileName</key>
            <string>skullking5.png</string>
        </dict>
    </dict>
</plist>
