<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_a_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,366},{102,118}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{102,118}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,406},{96,124}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{96,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,882},{98,126}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{98,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,776},{98,130}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{98,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,166}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,8},{98,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,636},{82,138}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,33},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,766},{108,128}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,41},{108,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,128},{106,124}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{106,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{104,124}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{104,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,656},{100,122}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{100,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,780},{98,122}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,48},{98,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,780},{98,122}}</string>
                <key>offset</key>
                <string>{28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,48},{98,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,124},{82,120}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{82,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,246},{82,120}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{82,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,128},{78,122}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{78,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{112,124}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{112,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,896},{116,126}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{116,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,636},{122,128}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{122,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,626},{126,112}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,62},{126,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,496},{138,106}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,68},{138,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,170},{154,108}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,69},{154,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,338},{156,108}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,69},{156,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{150,92}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,87},{150,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{158,82}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,97},{158,82}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{166,60}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,120},{166,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{166,56}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,123},{166,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{166,56}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,123},{166,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{166,56}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,123},{166,56}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,374},{98,120}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,53},{98,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,122},{102,118}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{98,118}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{98,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,246},{102,118}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,904},{108,118}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,53},{108,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,362},{110,114}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,57},{110,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,336},{110,110}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,61},{110,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,478},{110,112}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{110,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,486},{112,114}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{112,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{98,120}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{98,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,242},{100,118}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,54},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,122},{98,118}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{98,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{102,118}}</string>
                <key>offset</key>
                <string>{23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{102,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,124},{102,120}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{102,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,122},{98,116}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,56},{98,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,904},{108,118}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,53},{108,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,222},{112,114}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,58},{112,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,908},{112,114}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{112,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,602},{106,114}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{106,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,704},{84,124}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{84,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,780},{90,122}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{90,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{104,120}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,53},{104,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,532},{112,122}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,52},{112,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,754},{108,126}}</string>
                <key>offset</key>
                <string>{30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{108,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,280},{108,124}}</string>
                <key>offset</key>
                <string>{28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,50},{108,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,452},{108,124}}</string>
                <key>offset</key>
                <string>{25,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{108,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{108,124}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,51},{108,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,830},{104,122}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,53},{104,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,252},{102,120}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{102,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,578},{98,124}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,52},{98,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,496},{108,128}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{108,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,154},{110,124}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,49},{110,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_a_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,656},{96,122}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{96,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullA.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72d3e82863279da8e6517ba1f11f2369:1/1$</string>
            <key>textureFileName</key>
            <string>skullA.png</string>
        </dict>
    </dict>
</plist>
