<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{238,278}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,72},{238,278}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{236,284}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,66},{236,284}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,200},{230,290}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,60},{230,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,744},{238,252}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,98},{238,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,744},{262,204}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,148},{262,204}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{302,196}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,163},{302,196}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{316,186}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,164},{316,186}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,282},{326,194}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,174},{326,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,432},{326,140}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,210},{326,140}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{352,138}}</string>
                <key>offset</key>
                <string>{10,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,212},{352,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,142},{352,138}}</string>
                <key>offset</key>
                <string>{10,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,212},{352,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{352,138}}</string>
                <key>offset</key>
                <string>{11,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,212},{352,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,140}}</string>
                <key>offset</key>
                <string>{10,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,210},{354,140}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,710},{220,268}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,82},{220,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,478},{208,264}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{208,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6e2f485fd04252d83defa8ff229fd6c:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_2.png</string>
        </dict>
    </dict>
</plist>
