<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,696},{254,272}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,78},{254,272}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{174,318}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,32},{174,318}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,470},{224,276}}</string>
                <key>offset</key>
                <string>{48,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,74},{224,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{216,318}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,32},{216,318}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,318}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{264,318}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,642},{298,290}}</string>
                <key>offset</key>
                <string>{-40,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,60},{298,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,322},{298,244}}</string>
                <key>offset</key>
                <string>{-40,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,110},{298,244}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{294,242}}</string>
                <key>offset</key>
                <string>{-38,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,108},{294,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{286,240}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,110},{286,240}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,298},{288,240}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,110},{288,240}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{264,256}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,94},{264,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,588},{226,230}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,76},{226,230}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking2_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,260},{208,262}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,88},{208,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,816},{190,274}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,76},{190,274}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f163053619177247784784d324f057:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_1.png</string>
        </dict>
    </dict>
</plist>
