<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{196,250}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,81},{196,250}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,274},{224,268}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,82},{224,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{228,268}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{228,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,544},{208,264}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{208,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{200,270}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,80},{200,270}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,276}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,74},{190,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,810},{212,260}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,90},{212,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,264},{230,250}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,100},{230,250}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,516},{250,254}}</string>
                <key>offset</key>
                <string>{-16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,96},{250,254}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{246,260}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{246,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{204,268}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,82},{204,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{218,270}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{218,270}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,806},{212,258}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,92},{212,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,544},{246,260}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,90},{246,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,272},{228,258}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,92},{228,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8785d0b9bb483164248694924e578d69:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_4.png</string>
        </dict>
    </dict>
</plist>
