<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,796},{202,242}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,64},{202,242}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,244},{202,242}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,64},{202,242}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{204,240}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,91},{204,240}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{184,270}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,62},{184,270}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,276}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,56},{180,276}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{204,260}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,72},{204,260}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{228,250}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,82},{228,250}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,264},{250,254}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{250,254}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,274},{238,260}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,72},{238,260}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{184,268}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,64},{184,268}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{184,270}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,62},{184,270}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{200,270}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,62},{200,270}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,814},{206,258}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,74},{206,258}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,552},{240,260}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{240,260}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,536},{214,258}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{214,258}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:094e31b2cefba1c49191194a17500ec0:1/1$</string>
            <key>textureFileName</key>
            <string>skullking4.png</string>
        </dict>
    </dict>
</plist>
