<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{186,260}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,70},{186,260}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,278},{190,272}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,58},{190,272}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,560},{214,272}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,61},{214,272}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,280},{214,270}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,63},{214,270}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,552},{214,268}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{214,268}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{184,272}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,61},{184,272}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{170,278}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,55},{170,278}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{184,276}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,57},{184,276}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{196,274}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,59},{196,274}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,282},{210,272}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,61},{210,272}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,822},{200,270}}</string>
                <key>offset</key>
                <string>{26,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,63},{200,270}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,552},{192,268}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,65},{192,268}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,834},{186,272}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,61},{186,272}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{220,278}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,55},{220,278}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,276}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,57},{222,276}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
            <key>skullking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{216,274}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{216,274}}</string>
                <key>sourceSize</key>
                <string>{380,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0611c2554607c72371e6efd4c778afc0:1/1$</string>
            <key>textureFileName</key>
            <string>skullking3.png</string>
        </dict>
    </dict>
</plist>
