<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,120}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{96,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{100,118}}</string>
                <key>offset</key>
                <string>{20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{92,118}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{92,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,104},{84,118}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{84,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,190},{76,118}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{76,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,268},{80,112}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,58},{80,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{92,106}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,64},{92,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{102,102}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{102,102}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skull_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{92,112}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,60},{92,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skull4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df83233e3fcee9fd733f5b7e5043ac6:1/1$</string>
            <key>textureFileName</key>
            <string>skull4.png</string>
        </dict>
    </dict>
</plist>
