<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skullking2_summon0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,700},{226,322}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,28},{226,322}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,372},{232,326}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,24},{232,326}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,372},{240,328}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{240,328}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{248,330}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{248,330}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,184},{214,332}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,18},{214,332}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{180,340}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,10},{180,340}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{174,346}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,4},{174,346}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,350}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{174,350}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{174,344}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,6},{174,344}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skullking2_summon0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,178},{192,334}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,16},{192,334}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skullking2_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f886b6a7b033df5c70c1b75aae88a4a:1/1$</string>
            <key>textureFileName</key>
            <string>skullking2_5.png</string>
        </dict>
    </dict>
</plist>
