<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowmanking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{262,268}}</string>
                <key>offset</key>
                <string>{31,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,80},{262,268}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{264,266}}</string>
                <key>offset</key>
                <string>{37,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,82},{264,266}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,266}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,82},{270,266}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,268},{250,266}}</string>
                <key>offset</key>
                <string>{47,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,82},{250,266}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{240,268}}</string>
                <key>offset</key>
                <string>{55,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,80},{240,268}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,520},{236,270}}</string>
                <key>offset</key>
                <string>{57,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,78},{236,270}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,580},{240,252}}</string>
                <key>offset</key>
                <string>{53,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,96},{240,252}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,562},{266,238}}</string>
                <key>offset</key>
                <string>{49,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,110},{266,238}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{272,236}}</string>
                <key>offset</key>
                <string>{50,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,112},{272,236}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,292},{286,236}}</string>
                <key>offset</key>
                <string>{48,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,114},{286,236}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,266},{294,236}}</string>
                <key>offset</key>
                <string>{48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,115},{294,236}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{288,186}}</string>
                <key>offset</key>
                <string>{44,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,169},{288,186}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,834},{294,168}}</string>
                <key>offset</key>
                <string>{35,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,192},{294,168}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>snowmanking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,758},{236,266}}</string>
                <key>offset</key>
                <string>{25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,82},{236,266}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowmanking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74561e36445afc3b3c644fd4b680f6b2:1/1$</string>
            <key>textureFileName</key>
            <string>snowmanking2.png</string>
        </dict>
    </dict>
</plist>
