<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowmanking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{266,246}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,78},{266,246}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{264,242}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,82},{264,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,244}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,82},{270,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,252},{244,242}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,82},{244,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,736},{230,240}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,83},{230,240}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,498},{236,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,81},{236,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,494},{234,240}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,83},{234,240}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,498},{236,238}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,85},{236,238}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,252},{244,240}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,83},{244,240}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_heavy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,738},{242,244}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,80},{242,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{266,246}}</string>
                <key>offset</key>
                <string>{-68,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,73},{266,246}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,250},{262,246}}</string>
                <key>offset</key>
                <string>{-59,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,73},{262,246}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{262,248}}</string>
                <key>offset</key>
                <string>{-50,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{262,248}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{244,244}}</string>
                <key>offset</key>
                <string>{-58,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,74},{244,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,736},{230,240}}</string>
                <key>offset</key>
                <string>{-65,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,78},{230,240}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>snowmanking_hurt_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{246,244}}</string>
                <key>offset</key>
                <string>{-66,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,75},{246,244}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowmanking4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8377cc1f70d71ba86edad1d5ec81c3ca:1/1$</string>
            <key>textureFileName</key>
            <string>snowmanking4.png</string>
        </dict>
    </dict>
</plist>
