<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vampireking_Electric0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,794},{234,220}}</string>
                <key>offset</key>
                <string>{68,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,94},{234,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,258},{234,220}}</string>
                <key>offset</key>
                <string>{68,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,94},{234,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>vampireking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,494},{144,248}}</string>
                <key>offset</key>
                <string>{27,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,49},{144,248}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,662},{142,242}}</string>
                <key>offset</key>
                <string>{38,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,55},{142,242}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,806},{152,238}}</string>
                <key>offset</key>
                <string>{54,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,59},{152,238}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,246},{168,250}}</string>
                <key>offset</key>
                <string>{51,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,47},{168,250}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{182,254}}</string>
                <key>offset</key>
                <string>{47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,43},{182,254}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{174,262}}</string>
                <key>offset</key>
                <string>{37,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,35},{174,262}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{168,242}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,55},{168,242}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{258,204}}</string>
                <key>offset</key>
                <string>{-36,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,93},{258,204}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,222}}</string>
                <key>offset</key>
                <string>{-42,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{270,222}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{268,242}}</string>
                <key>offset</key>
                <string>{-41,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,55},{268,242}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,208},{148,256}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,41},{148,256}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,416},{134,248}}</string>
                <key>offset</key>
                <string>{32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,49},{134,248}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,640},{152,242}}</string>
                <key>offset</key>
                <string>{55,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,55},{152,242}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,552},{150,244}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,53},{150,244}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,506},{154,244}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,53},{154,244}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,358},{146,248}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,49},{146,248}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{182,238}}</string>
                <key>offset</key>
                <string>{70,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,59},{182,238}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,506},{154,244}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,53},{154,244}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{164,248}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,49},{164,248}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,704},{142,240}}</string>
                <key>offset</key>
                <string>{22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,57},{142,240}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,848},{126,234}}</string>
                <key>offset</key>
                <string>{39,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,63},{126,234}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vampireking1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ef1813475cccbbfe6993fdd1623840:1/1$</string>
            <key>textureFileName</key>
            <string>vampireking1.png</string>
        </dict>
    </dict>
</plist>
