<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vampireking_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{130,224}}</string>
                <key>offset</key>
                <string>{43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,72},{130,224}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,168},{152,250}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,47},{152,250}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,320},{158,246}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,51},{158,246}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,726},{164,242}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,55},{164,242}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{162,252}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,45},{162,252}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{158,262}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,35},{158,262}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,530},{156,258}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,39},{156,258}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,258},{154,254}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,43},{154,254}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,166},{152,250}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,47},{152,250}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,480},{160,244}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,53},{160,244}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,790},{168,240}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,57},{168,240}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{164,250}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,47},{164,250}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,262}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,35},{158,262}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{156,258}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,39},{156,258}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{154,254}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,43},{154,254}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vampireking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1914881bbd0a78126085548d822946d:1/1$</string>
            <key>textureFileName</key>
            <string>vampireking3.png</string>
        </dict>
    </dict>
</plist>
