<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vampireking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,250}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,47},{142,250}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{142,248}}</string>
                <key>offset</key>
                <string>{36,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,49},{142,248}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,752},{138,246}}</string>
                <key>offset</key>
                <string>{46,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,51},{138,246}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,240},{160,234}}</string>
                <key>offset</key>
                <string>{55,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,63},{160,234}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,424},{198,222}}</string>
                <key>offset</key>
                <string>{62,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,75},{198,222}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{226,208}}</string>
                <key>offset</key>
                <string>{65,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,89},{226,208}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,624},{216,170}}</string>
                <key>offset</key>
                <string>{61,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,127},{216,170}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,214},{208,142}}</string>
                <key>offset</key>
                <string>{54,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,157},{208,142}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{210,142}}</string>
                <key>offset</key>
                <string>{50,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,155},{210,142}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,238},{228,148}}</string>
                <key>offset</key>
                <string>{45,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,159},{228,148}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,490},{234,178}}</string>
                <key>offset</key>
                <string>{45,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,142},{234,178}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,492},{240,174}}</string>
                <key>offset</key>
                <string>{45,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,142},{240,174}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{246,168}}</string>
                <key>offset</key>
                <string>{44,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{246,168}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,248},{152,242}}</string>
                <key>offset</key>
                <string>{55,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,55},{152,242}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,726},{210,232}}</string>
                <key>offset</key>
                <string>{84,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,65},{210,232}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{184,236}}</string>
                <key>offset</key>
                <string>{71,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,61},{184,236}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,248},{158,240}}</string>
                <key>offset</key>
                <string>{57,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,57},{158,240}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{154,244}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,53},{154,244}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{156,234}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,63},{156,234}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,476},{166,232}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,65},{166,232}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,734},{192,234}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,63},{192,234}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>vampireking_hurt_heavy0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{162,246}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,51},{162,246}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vampireking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77388193393b659f4a2776eb0610139:1/1$</string>
            <key>textureFileName</key>
            <string>vampireking2.png</string>
        </dict>
    </dict>
</plist>
