<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,234}}</string>
                <key>offset</key>
                <string>{23,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,222},{328,234}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{268,296}}</string>
                <key>offset</key>
                <string>{22,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,119},{268,296}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{268,296}}</string>
                <key>offset</key>
                <string>{27,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,119},{268,296}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,272},{272,288}}</string>
                <key>offset</key>
                <string>{29,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,127},{272,288}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,256},{272,292}}</string>
                <key>offset</key>
                <string>{31,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,129},{272,292}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,530},{272,284}}</string>
                <key>offset</key>
                <string>{22,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,131},{272,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{286,274}}</string>
                <key>offset</key>
                <string>{49,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,144},{286,274}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,546},{270,280}}</string>
                <key>offset</key>
                <string>{40,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,139},{270,280}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{252,294}}</string>
                <key>offset</key>
                <string>{33,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,132},{252,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52258e65b57c1123834434ca44972fbf:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2.png</string>
        </dict>
    </dict>
</plist>
