<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{320,276}}</string>
                <key>offset</key>
                <string>{11,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,141},{320,276}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{304,276}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,142},{304,276}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,558},{288,286}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,143},{288,286}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,576},{254,286}}</string>
                <key>offset</key>
                <string>{-15,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,138},{254,286}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{272,286}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,131},{272,286}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,282},{294,292}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,124},{294,292}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{304,278}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,132},{304,278}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,278}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,141},{332,278}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,280},{304,276}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,141},{304,276}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea99844a242d0ffcebbd71fde882806f:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking4.png</string>
        </dict>
    </dict>
</plist>
