<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,292}}</string>
                <key>offset</key>
                <string>{-21,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,151},{398,292}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{330,300}}</string>
                <key>offset</key>
                <string>{-18,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,143},{330,300}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{286,310}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,133},{286,310}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,576},{276,302}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,141},{276,302}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,314},{272,306}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,137},{272,306}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,304},{270,312}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,131},{270,312}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{268,318}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,125},{268,318}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{272,310}}</string>
                <key>offset</key>
                <string>{-9,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,133},{272,310}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c967f67c8aed45903e380f9ee32d9cd0:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking7.png</string>
        </dict>
    </dict>
</plist>
