<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,456},{154,148}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,91},{154,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,690},{146,152}}</string>
                <key>offset</key>
                <string>{32,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,88},{146,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{136,160}}</string>
                <key>offset</key>
                <string>{28,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,84},{136,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{158,154}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,84},{158,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{154,146}}</string>
                <key>offset</key>
                <string>{30,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{154,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{172,148}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{172,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,154},{164,148}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,91},{164,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{154,154}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,91},{154,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,406},{136,154}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,88},{136,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,544},{144,154}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,85},{144,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,304},{150,158}}</string>
                <key>offset</key>
                <string>{12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,80},{150,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{164,150}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,85},{164,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,150}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,89},{180,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{164,150}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,89},{164,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,742},{150,150}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{150,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,606},{134,154}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,87},{134,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,140},{128,156}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,84},{128,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,270},{134,162}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,80},{134,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,838},{144,152}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,86},{144,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolf1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bf28c142ae7406231e261e963cea6d:1/1$</string>
            <key>textureFileName</key>
            <string>wolf1.png</string>
        </dict>
    </dict>
</plist>
