<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_armor_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,272},{94,76}}</string>
                <key>offset</key>
                <string>{-30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,103},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,76}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,102},{96,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,196},{96,74}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,103},{96,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,76}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,99},{96,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,176},{94,76}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,96},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,368},{94,76}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,94},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,272},{94,76}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,98},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{94,76}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,103},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,76}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,101},{96,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{96,74}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,101},{96,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{96,74}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,99},{96,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,76}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,95},{96,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{94,76}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,94},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wolf_armor_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,100},{94,76}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,98},{94,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfArmor2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f665202fe5edc389a49abb87db8871d:1/1$</string>
            <key>textureFileName</key>
            <string>wolfArmor2.png</string>
        </dict>
    </dict>
</plist>
