<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{302,284}}</string>
                <key>offset</key>
                <string>{12,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,149},{302,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,590},{286,284}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,149},{286,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,262},{272,282}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,151},{272,282}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,590},{254,288}}</string>
                <key>offset</key>
                <string>{-5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,145},{254,288}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{258,294}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,139},{258,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,288},{278,300}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,133},{278,300}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,292}}</string>
                <key>offset</key>
                <string>{7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,141},{286,292}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{314,284}}</string>
                <key>offset</key>
                <string>{14,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,149},{314,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{288,284}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,149},{288,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725557d9b39e0439709a9f227e5c3593:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_3.png</string>
        </dict>
    </dict>
</plist>
