<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{302,260}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,149},{302,260}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{286,262}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,149},{286,262}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,528},{272,268}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,152},{272,268}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,544},{240,270}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,146},{240,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{258,270}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,140},{258,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,266},{278,276}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,133},{278,276}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,264},{286,262}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,141},{286,262}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,262}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,149},{314,262}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{288,262}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,148},{288,262}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99fa233d7330a2c9d2b6c9497a7169f0:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_3.png</string>
        </dict>
    </dict>
</plist>
