<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{294,342}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,117},{294,342}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,348}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,110},{348,348}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{324,318}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,140},{324,318}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,342},{334,288}}</string>
                <key>offset</key>
                <string>{33,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,168},{334,288}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{338,270}}</string>
                <key>offset</key>
                <string>{61,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,184},{338,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,678},{290,288}}</string>
                <key>offset</key>
                <string>{72,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,175},{290,288}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{290,296}}</string>
                <key>offset</key>
                <string>{56,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,174},{290,296}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,696},{300,294}}</string>
                <key>offset</key>
                <string>{40,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,176},{300,294}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,352},{342,260}}</string>
                <key>offset</key>
                <string>{31,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,210},{342,260}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bfbe7cabdc19c7716bbc7c69fa94fbb:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking3.png</string>
        </dict>
    </dict>
</plist>
