<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolfking2_Electric0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,284}}</string>
                <key>offset</key>
                <string>{51,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,124},{272,284}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{398,254}}</string>
                <key>offset</key>
                <string>{-21,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,165},{398,254}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{390,244}}</string>
                <key>offset</key>
                <string>{-21,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,168},{390,244}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,248},{376,250}}</string>
                <key>offset</key>
                <string>{-18,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,158},{376,250}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{312,258}}</string>
                <key>offset</key>
                <string>{-16,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,150},{312,258}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,626},{270,266}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,142},{270,266}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_hurt_heavy0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,626},{260,274}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,134},{260,274}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,248},{260,264}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,149},{260,264}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>wolfking2_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{234,270}}</string>
                <key>offset</key>
                <string>{-18,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,144},{234,270}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wolfking2_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e5744a30c7018c2461caac75a90778e:1/1$</string>
            <key>textureFileName</key>
            <string>wolfking2_5.png</string>
        </dict>
    </dict>
</plist>
