<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_hurt_on0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,418},{76,124}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,39},{76,124}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_on0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,422},{78,124}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{78,124}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_on0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{80,130}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{80,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_on0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,286},{74,132}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{74,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_hurt_on0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,286},{72,128}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{72,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{90,136}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{90,136}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{92,136}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{92,136}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,138}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{92,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{78,138}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{78,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,282},{74,138}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,28},{74,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,142},{72,138}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{72,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{70,138}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,27},{70,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{76,138}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,26},{76,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,96},{96,134}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{96,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,134},{114,128}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{114,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{98,130}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{98,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,286},{90,130}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{90,130}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,194},{90,132}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{90,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zombie_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,140},{90,134}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{90,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6e3a070f2e29381db34dd8323716ee:1/1$</string>
            <key>textureFileName</key>
            <string>zombie1.png</string>
        </dict>
    </dict>
</plist>
