<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieking_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,278}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{150,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,278},{150,272}}</string>
                <key>offset</key>
                <string>{-23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,35},{150,272}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,274}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,33},{148,274}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,560},{146,274}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{146,274}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{146,274}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,33},{146,274}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{172,264}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,43},{172,264}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,802},{218,232}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,75},{218,232}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,836},{230,184}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,123},{230,184}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{242,182}}</string>
                <key>offset</key>
                <string>{29,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,125},{242,182}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{254,184}}</string>
                <key>offset</key>
                <string>{25,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,123},{254,184}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,538},{262,182}}</string>
                <key>offset</key>
                <string>{20,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,125},{262,182}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,552},{266,172}}</string>
                <key>offset</key>
                <string>{23,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,135},{266,172}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{268,164}}</string>
                <key>offset</key>
                <string>{24,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,143},{268,164}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_heavy0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{152,276}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,31},{152,276}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_heavy0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,272},{212,264}}</string>
                <key>offset</key>
                <string>{49,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,43},{212,264}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_heavy0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,268},{174,262}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,45},{174,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieking3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9904e86575a427efc674de289888b115:1/1$</string>
            <key>textureFileName</key>
            <string>zombieking3.png</string>
        </dict>
    </dict>
</plist>
