<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieking_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{204,296}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,26},{204,296}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,312},{210,292}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,30},{210,292}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,606},{232,290}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{232,290}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{266,290}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{266,290}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{242,300}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{242,300}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,308}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{292,308}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,294},{284,278}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,44},{284,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,762},{272,256}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{272,256}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,502},{272,258}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,64},{272,258}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,242},{274,258}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{274,258}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{238,278}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,44},{238,278}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>zombieking_hurt_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,614},{196,296}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{196,296}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieking2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8f530c0d793b9b8f8bc04c87e7a460:1/1$</string>
            <key>textureFileName</key>
            <string>zombieking2.png</string>
        </dict>
    </dict>
</plist>
